In [15]:
import pandas as pd
import numpy as np

In [4]:
from os import listdir
from os.path import isfile, join

In [6]:
filenames = [f for f in listdir('../data/raw_data/Unemployment/')]

In [12]:
filenames.remove('.DS_Store')

In [139]:
filenames[0]

'UnemploymentReport (45).xlsx'

In [185]:
alldfs = []
for filename in filenames:
    df = pd.read_excel('../data/raw_data/Unemployment/' + filename, skiprows = 1) 
    #rename columns and reorg them
    beg = ["FIPS"]
    beg2 = [df.columns[1]]
    middle = list(df.columns[2:12].astype(str) + [":UnemploymentRate"])
    end = [df.columns[12]]
    endend = [df.columns[-1] + " (2017)"]
    df.columns = beg + beg2 + middle + end + endend
    #drop extra columns that mean nothing
    df.drop("None:UnemploymentRate", axis = 1, inplace = True)
    #drop first row, which is always the total for the STATE
    df.drop(index = 0, inplace = True)
    alldfs.append(df)

In [186]:
master_df = pd.DataFrame(columns = alldfs[0].columns)
for df in alldfs:
    master_df = master_df.append(df)

In [188]:
master_df.tail(10)

,FIPS,Name,2009:UnemploymentRate,2010:UnemploymentRate,2011:UnemploymentRate,2012:UnemploymentRate,2013:UnemploymentRate,2014:UnemploymentRate,2015:UnemploymentRate,2016:UnemploymentRate,2017:UnemploymentRate,Median Household Income (2017),% of State Median HH Income (2017)
26,35047,"San Miguel County, NM",7.3,9.6,9.5,8.9,8.4,8.1,7.7,7.7,7.4,33205.0,0.705199
27,35049,"Santa Fe County, NM",6.6,6.8,6.2,5.8,5.6,5.4,5.3,5.3,5.1,58639.0,1.245360
28,35051,"Sierra County, NM",5.8,9.2,9.9,9.8,9.8,9.2,9.1,8.5,7.9,30356.0,0.644693
29,35053,"Socorro County, NM",5.3,7.8,7.6,7.0,7.4,7.4,7.5,7.3,6.5,34880.0,0.740772
30,35055,"Taos County, NM",8.9,10.7,10.5,10.5,10.3,9.9,9.1,8.4,7.9,34980.0,0.742896
31,35057,"Torrance County, NM",9.4,11.6,11.5,10.6,10.2,9.8,9.0,9.1,8.6,36886.0,0.783375
32,35059,"Union County, NM",5.6,6.3,4.7,4.4,4.6,4.6,4.4,4.0,3.8,38627.0,0.820350
33,35061,"Valencia County, NM",8.5,9.6,9.0,8.7,8.4,7.9,7.4,7.2,6.7,46155.0,0.980228
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"Sources: Bureau of Labor Statistics, Local Are...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
master_df = master_df[master_df['Name'].isnull() == False]
master_df.tail()

,FIPS,Name,2009:UnemploymentRate,2010:UnemploymentRate,2011:UnemploymentRate,2012:UnemploymentRate,2013:UnemploymentRate,2014:UnemploymentRate,2015:UnemploymentRate,2016:UnemploymentRate,2017:UnemploymentRate,Median Household Income (2017),% of State Median HH Income (2017)
29,35053,"Socorro County, NM",5.3,7.8,7.6,7.0,7.4,7.4,7.5,7.3,6.5,34880.0,0.740772
30,35055,"Taos County, NM",8.9,10.7,10.5,10.5,10.3,9.9,9.1,8.4,7.9,34980.0,0.742896
31,35057,"Torrance County, NM",9.4,11.6,11.5,10.6,10.2,9.8,9.0,9.1,8.6,36886.0,0.783375
32,35059,"Union County, NM",5.6,6.3,4.7,4.4,4.6,4.6,4.4,4.0,3.8,38627.0,0.820350
33,35061,"Valencia County, NM",8.5,9.6,9.0,8.7,8.4,7.9,7.4,7.2,6.7,46155.0,0.980228

In [197]:
master_df.shape

(3217, 13)

In [ ]:
##OLD - TESTED WITH JUST ONE FILE

In [140]:
d = pd.read_excel('../data/raw_data/Unemployment/UnemploymentReport (45).xlsx', skiprows = 1)

In [141]:
#['2009', 2010, 2011, 2012, 2013, 2014, 2015, 2016, None, '2017']


middle = d.columns[2:12].astype(str) + [":UnemploymentRate"]

beg = d.columns[:2]
middle = list(d.columns[2:12].astype(str) + [":UnemploymentRate"])
end = [d.columns[12]]
endend = [d.columns[-1] + " (2017)"]
d.columns = list(d.columns[:2]) + middle + end + endend

In [142]:
d.head()

,FIPS,Name,2009:UnemploymentRate,2010:UnemploymentRate,2011:UnemploymentRate,2012:UnemploymentRate,2013:UnemploymentRate,2014:UnemploymentRate,2015:UnemploymentRate,2016:UnemploymentRate,None:UnemploymentRate,2017:UnemploymentRate,Median Household Income (2017),% of State Median HH Income (2017)
0,50000,Vermont,6.6,6.1,5.5,5.0,4.4,4.0,3.6,3.2,NaN,3.0,58271.0,1.000000
1,50001,"Addison County, VT",6.1,5.8,4.9,4.5,4.1,3.7,3.5,3.0,NaN,2.8,59467.0,1.020525
2,50003,"Bennington County, VT",7.6,6.9,6.4,5.9,5.2,4.6,4.2,3.8,NaN,3.6,52770.0,0.905596
3,50005,"Caledonia County, VT",7.8,6.8,6.3,6.2,5.3,4.8,4.7,4.2,NaN,3.7,46299.0,0.794546
4,50007,"Chittenden County, VT",5.6,4.8,4.2,3.8,3.4,3.0,2.7,2.5,NaN,2.3,65851.0,1.130082

In [136]:
d.drop("None:UnemploymentRate", axis = 1, inplace = True)

In [137]:
d.drop(index = 0, inplace = True)

In [138]:
d.head()

,FIPS,Name,2009:UnemploymentRate,2010:UnemploymentRate,2011:UnemploymentRate,2012:UnemploymentRate,2013:UnemploymentRate,2014:UnemploymentRate,2015:UnemploymentRate,2016:UnemploymentRate,2017:UnemploymentRate,Median Household Income (2017),% of State Median HH Income (2017)
1,21001,"Adair County, KY",10.8,12.4,11.8,9.5,10.1,8.6,7.4,6.9,6.3,35026.0,0.724696
2,21003,"Allen County, KY",14.4,11.7,9.8,8.0,7.4,5.9,4.9,4.4,4.1,40955.0,0.847368
3,21005,"Anderson County, KY",10.4,9.6,8.3,6.9,6.4,5.2,4.2,4.1,4.2,53113.0,1.098920
4,21007,"Ballard County, KY",10.0,10.3,10.0,9.1,9.2,8.0,6.9,8.9,7.6,44010.0,0.910577
5,21009,"Barren County, KY",12.3,11.2,9.8,7.9,7.7,6.3,5.2,4.7,4.6,41477.0,0.858169

In [206]:
AllStates = []
for filename in filenames:
    df = pd.read_excel('../data/raw_data/Unemployment/' + filename, skiprows = 1, nrows = 1)
    AllStates.append(df.iloc[0]['Name'])
len(AllStates)

52

In [207]:
master_df.shape

(3217, 13)

In [245]:
master_df.head()

,FIPS,Name,2009:UnemploymentRate,2010:UnemploymentRate,2011:UnemploymentRate,2012:UnemploymentRate,2013:UnemploymentRate,2014:UnemploymentRate,2015:UnemploymentRate,2016:UnemploymentRate,2017:UnemploymentRate,Median Household Income (2017),% of State Median HH Income (2017)
1,50001,"Addison County, VT",6.1,5.8,4.9,4.5,4.1,3.7,3.5,3.0,2.8,59467.0,1.020525
2,50003,"Bennington County, VT",7.6,6.9,6.4,5.9,5.2,4.6,4.2,3.8,3.6,52770.0,0.905596
3,50005,"Caledonia County, VT",7.8,6.8,6.3,6.2,5.3,4.8,4.7,4.2,3.7,46299.0,0.794546
4,50007,"Chittenden County, VT",5.6,4.8,4.2,3.8,3.4,3.0,2.7,2.5,2.3,65851.0,1.130082
5,50009,"Essex County, VT",8.9,10.0,8.4,8.0,6.8,5.9,5.8,5.0,4.7,40288.0,0.691390

In [246]:
master_df[['FIPS', 'Name', '2010:UnemploymentRate']].to_csv('../data/Unemployment_rates_1.csv')

In [ ]:
#50 states + DC + PR = I expect 3218 FIPS CODES

In [175]:
sorted(AllStates)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [179]:
master_df.columns

Index(['FIPS ', 'Name', '2009:UnemploymentRate', '2010:UnemploymentRate',
       '2011:UnemploymentRate', '2012:UnemploymentRate',
       '2013:UnemploymentRate', '2014:UnemploymentRate',
       '2015:UnemploymentRate', '2016:UnemploymentRate',
       '2017:UnemploymentRate', 'Median Household Income (2017)',
       '% of State Median HH Income (2017)'],
      dtype='object')

In [237]:
#Add FIPS columns
fips = pd.read_csv('../data/county_fips_mapping.csv')
fips.head()

   Unnamed: 0  fips   county state_abbr     county_full    state
0           0  1001  Autauga         AL  Autauga County  Alabama
1           1  1003  Baldwin         AL  Baldwin County  Alabama
2           2  1005  Barbour         AL  Barbour County  Alabama
3           3  1007     Bibb         AL     Bibb County  Alabama
4           4  1009   Blount         AL   Blount County  Alabama

In [240]:
fips_set =  fips[(fips['state'] != 'Northern Mariana Islands') & (fips['state'] !=  'American Samoa') & (fips['state'] !=  'Virgin Islands')]['fips']
master_df_set = set([int(fip) for fip in master_df["FIPS"]])


#I know there is one US-centric one missing

for fip in fips_set:
    if fip not in master_df_set:
        print(fip)

2270
12025
30113
46113
51515
51560
51780
66010

In [244]:
fips[fips['fips'] == 51515]

,Unnamed: 0,fips,county,state_abbr,county_full,state
2913,2913,51515,Bedford City,VA,Bedford City County,Virginia

In [228]:
fips_set

{41001,
 41003,
 41005,
 41007,
 41009,
 41011,
 41013,
 41015,
 41017,
 41019,
 41021,
 41023,
 41025,
 41027,
 41029,
 41031,
 41033,
 41035,
 41037,
 41039,
 41041,
 41043,
 41045,
 41047,
 41049,
 41051,
 41053,
 41055,
 41057,
 41059,
 41061,
 41063,
 41065,
 41067,
 41069,
 41071,
 33001,
 33003,
 33005,
 33007,
 33009,
 33011,
 33013,
 33015,
 33017,
 33019,
 25001,
 25003,
 25005,
 25007,
 25009,
 25011,
 25013,
 25015,
 25017,
 25019,
 25021,
 25023,
 25025,
 25027,
 66010,
 17001,
 17003,
 17005,
 17007,
 17009,
 17011,
 17013,
 17015,
 17017,
 17019,
 17021,
 17023,
 17025,
 17027,
 17029,
 17031,
 17033,
 17035,
 17037,
 17039,
 17041,
 17043,
 17045,
 17047,
 17049,
 17051,
 17053,
 17055,
 17057,
 17059,
 17061,
 17063,
 17065,
 17067,
 17069,
 17071,
 17073,
 17075,
 17077,
 17079,
 17081,
 17083,
 17085,
 17087,
 17089,
 17091,
 17093,
 17095,
 17097,
 17099,
 17101,
 17103,
 17105,
 17107,
 17109,
 17111,
 17113,
 17115,
 17117,
 17119,
 17121,
 17123,
 17125,
 17127,
 17129,
 17131,
 17133,
 17135,
 17137,
 17139,
 17141,
 17143,
 17145,
 17147,
 17149,
 17151,
 17153,
 17155,
 17157,
 17159,
 17161,
 17163,
 17165,
 17167,
 17169,
 17171,
 17173,
 17175,
 17177,
 17179,
 17181,
 17183,
 17185,
 17187,
 17189,
 17191,
 17193,
 9001,
 17195,
 9003,
 17197,
 9005,
 17199,
 9007,
 9009,
 17201,
 9011,
 17203,
 9013,
 9015,
 50001,
 50003,
 50005,
 50007,
 50009,
 50011,
 50013,
 50015,
 50017,
 50019,
 50021,
 50023,
 50025,
 50027,
 1001,
 1003,
 1005,
 1007,
 1009,
 1011,
 1013,
 1015,
 1017,
 1019,
 1021,
 1023,
 1025,
 1027,
 1029,
 1031,
 1033,
 1035,
 1037,
 1039,
 1041,
 42001,
 1043,
 42003,
 1045,
 42005,
 1047,
 42007,
 1049,
 42009,
 1051,
 42011,
 1053,
 42013,
 1055,
 42015,
 1057,
 42017,
 1059,
 42019,
 1061,
 42021,
 1063,
 42023,
 1065,
 42025,
 1067,
 42027,
 1069,
 42029,
 1071,
 42031,
 1073,
 42033,
 1075,
 42035,
 1077,
 42037,
 1079,
 42039,
 1081,
 42041,
 1083,
 42043,
 1085,
 42045,
 1087,
 42047,
 1089,
 42049,
 1091,
 42051,
 1093,
 42053,
 1095,
 42055,
 1097,
 42057,
 1099,
 42059,
 1101,
 42061,
 1103,
 42063,
 1105,
 42065,
 1107,
 42067,
 1109,
 42069,
 1111,
 42071,
 1113,
 42073,
 1115,
 42075,
 1117,
 42077,
 1119,
 42079,
 1121,
 42081,
 1123,
 42083,
 1125,
 42085,
 1127,
 42087,
 1129,
 42089,
 1131,
 42091,
 1133,
 42093,
 42095,
 42097,
 42099,
 42101,
 42103,
 42105,
 42107,
 42109,
 42111,
 42113,
 42115,
 42117,
 42119,
 42121,
 42123,
 42125,
 42127,
 42129,
 42131,
 42133,
 34001,
 34003,
 34005,
 34007,
 34009,
 34011,
 34013,
 34015,
 34017,
 34019,
 34021,
 34023,
 34025,
 34027,
 34029,
 34031,
 34033,
 34035,
 34037,
 34039,
 34041,
 26001,
 26003,
 26005,
 26007,
 26009,
 26011,
 26013,
 26015,
 26017,
 26019,
 26021,
 26023,
 26025,
 26027,
 26029,
 26031,
 26033,
 26035,
 26037,
 26039,
 26041,
 26043,
 26045,
 26047,
 26049,
 26051,
 26053,
 26055,
 26057,
 26059,
 26061,
 26063,
 26065,
 26067,
 26069,
 26071,
 26073,
 26075,
 26077,
 26079,
 26081,
 26083,
 26085,
 26087,
 26089,
 26091,
 26093,
 26095,
 26097,
 26099,
 26101,
 26103,
 26105,
 26107,
 26109,
 26111,
 26113,
 26115,
 26117,
 26119,
 26121,
 26123,
 26125,
 26127,
 26129,
 26131,
 26133,
 26135,
 26137,
 26139,
 26141,
 26143,
 26145,
 26147,
 26149,
 26151,
 26153,
 26155,
 26157,
 26159,
 26161,
 26163,
 26165,
 18001,
 18003,
 18005,
 18007,
 18009,
 18011,
 18013,
 18015,
 18017,
 18019,
 18021,
 18023,
 18025,
 18027,
 18029,
 18031,
 18033,
 18035,
 18037,
 18039,
 18041,
 18043,
 18045,
 18047,
 18049,
 18051,
 18053,
 18055,
 18057,
 18059,
 18061,
 18063,
 18065,
 18067,
 18069,
 18071,
 18073,
 18075,
 18077,
 18079,
 18081,
 18083,
 18085,
 18087,
 18089,
 18091,
 18093,
 18095,
 18097,
 18099,
 18101,
 18103,
 18105,
 18107,
 18109,
 18111,
 18113,
 18115,
 18117,
 18119,
 18121,
 18123,
 18125,
 18127,
 18129,
 18131,
 18133,
 18135,
 18137,
 18139,
 18141,
 18143,
 18145,
 18147,
 18149,
 18151,
 18153,
 18155,
 18157,
 18159,
 18161,
 18163,
 18165,
 18167,
 18169,
 18171,
 18173,
 18175,
 18177,
 18179,
 18181,
 18183,
 10001,
 10003,
 10005,
 51001,
 51003,
 51005,
 51007,
 51009,
 51011,
 51013,
 51015,
 51017,
 51019,
 51021,
 51023,
 51025,
 51027,
 51029,
 51031,
 51033,
 51035,
 51036,
 51037,
 51041,
 51043,
 51045,
 51047,
 51049,
 51051,
 51053,
 51057,
 51059,
 51061,
 51063,
 51065,
 51067,
 51069,
 51071,
 51073,
 51075,
 51077,
 51079,
 51081,
 51083,
 51085,
 51087,
 51089,
 51091,
 51093,
 51095,
 51097,
 51099,
 51101,
 51103,
 51105,
 51107,
 51109,
 51111,
 51113,
 51115,
 51117,
 51119,
 51121,
 51125,
 51127,
 51131,
 51133,
 51135,
 51137,
 51139,
 51141,
 51143,
 51145,
 51147,
 51149,
 51153,
 51155,
 51157,
 51159,
 51161,
 51163,
 2013,
 51165,
 51167,
 2016,
 51169,
 51171,
 2020,
 51173,
 51175,
 51177,
 51179,
 51181,
 51183,
 51185,
 51187,
 51191,
 51193,
 51195,
 51197,
 51199,
 2050,
 2060,
 2068,
 2070,
 46003,
 46005,
 2090,
 46007,
 2100,
 46009,
 2110,
 46011,
 2122,
 46013,
 2130,
 46015,
 46017,
 2150,
 46019,
 2164,
 46021,
 2170,
 46023,
 2180,
 2185,
 2188,
 46025,
 46027,
 2201,
 46029,
 46031,
 2220,
 46033,
 2232,
 35001,
 35003,
 35005,
 35006,
 35007,
 2240,
 35009,
 46035,
 35011,
 35013,
 35015,
 46037,
 35017,
 35019,
 35021,
 35023,
 35025,
 46039,
 35027,
 35028,
 2261,
 35029,
 35031,
 35033,
 35035,
 46041,
 35037,
 2270,
 35039,
 35041,
 35043,
 35045,
 46043,
 35047,
 2280,
 35049,
 2282,
 35051,
 35053,
 35055,
 46045,
 35057,
 2290,
 35059,
 35061,
 46047,
 46049,
 46051,
 46053,
 46055,
 46057,
 51510,
 46059,
 51515,
 51520,
 46061,
 51530,
 46063,
 51540,
 46065,
 51550,
 46067,
 51560,
 46069,
 51570,
 46071,
 27001,
 27003,
 51580,
 27005,
 46073,
 27007,
 27009,
 27011,
 27013,
 51590,
 27015,
 46075,
 27017,
 27019,
 51595,
 27021,
 27023,
 51600,
 27025,
 46077,
 27027,
 27029,
 27031,
 27033,
 51610,
 27035,
 46079,
 27037,
 27039,
 27041,
 27043,
 51620,
 27045,
 46081,
 27047,
 27049,
 27051,
 27053,
 51630,
 27055,
 27057,
 27059,
 27061,
 27063,
 51640,
 27065,
 27067,
 27069,
 27071,
 27073,
 51650,
 27075,
 27077,
 27079,
 27081,
 27083,
 51660,
 27085,
 27087,
 27089,
 27091,
 27093,
 51670,
 27095,
 27097,
 27099,
 27101,
 51678,
 27103,
 51680,
 27105,
 27107,
 51683,
 27109,
 51685,
 27111,
 27113,
 51690,
 27115,
 27117,
 27119,
 27121,
 27123,
 51700,
 27125,
 27127,
 27129,
 27131,
 27133,
 51710,
 27135,
 27137,
 27139,
 27141,
 27143,
 51720,
 27145,
 27147,
 27149,
 27151,
 27153,
 51730,
 27155,
 27157,
 27159,
 51735,
 27161,
 27163,
 51740,
 27165,
 27167,
 27169,
 27171,
 27173,
 51750,
 51760,
 19001,
 51770,
 19003,
 19005,
 19007,
 51775,
 19009,
 19011,
 51780,
 19013,
 19015,
 19017,
 19019,
 19021,
 51790,
 19023,
 19025,
 19027,
 19029,
 19031,
 51800,
 19033,
 19035,
 19037,
 19039,
 19041,
 51810,
 19043,
 19045,
 19047,
 19049,
 19051,
 51820,
 19053,
 19055,
 19057,
 19059,
 19061,
 51830,
 19063,
 19065,
 19067,
 19069,
 19071,
 51840,
 19073,
 19075,
 19077,
 19079,
 19081,
 19083,
 19085,
 19087,
 19089,
 19091,
 19093,
 19095,
 19097,
 19099,
 19101,
 19103,
 19105,
 19107,
 19109,
 19111,
 19113,
 19115,
 19117,
 19119,
 19121,
 19123,
 19125,
 19127,
 19129,
 19131,
 19133,
 19135,
 19137,
 19139,
 19141,
 19143,
 19145,
 19147,
 19149,
 19151,
 19153,
 19155,
 19157,
 19159,
 19161,
 19163,
 19165,
 19167,
 19169,
 19171,
 19173,
 19175,
 19177,
 19179,
 19181,
 19183,
 19185,
 19187,
 19189,
 19191,
 19193,
 11001,
 19195,
 19197,
 44001,
 44003,
 44005,
 44007,
 44009,
 36001,
 36003,
 36005,
 36007,
 36009,
 36011,
 36013,
 36015,
 36017,
 36019,
 36021,
 36023,
 36025,
 36027,
 36029,
 36031,
 36033,
 36035,
 36037,
 36039,
 36041,
 36043,
 36045,
 36047,
 36049,
 36051,
 36053,
 36055,
 36057,
 36059,
 36061,
 36063,
 36065,
 36067,
 36069,
 36071,
 36073,
 36075,
 36077,
 36079,
 36081,
 36083,
 36085,
 36087,
 36089,
 36091,
 36093,
 36095,
 36097,
 36099,
 36101,
 36103,
 36105,
 36107,
 ...}

In [205]:
len(set(fips['fips']))

3228

{'35041',
 '53069',
 '08077',
 '40127',
 '06081',
 '45019',
 '56003',
 '56043',
 '06065',
 '37035',
 '05083',
 '19121',
 '39117',
 '47107',
 '48469',
 '27105',
 '13123',
 '29035',
 '48255',
 '39025',
 '49023',
 '19167',
 '19099',
 '01123',
 '23027',
 '13095',
 '20077',
 '17011',
 '13211',
 '54065',
 '21063',
 '48341',
 '28161',
 '18149',
 '48289',
 '51550',
 '28055',
 '38091',
 '26043',
 '29013',
 '51595',
 '06095',
 '17199',
 '39027',
 '72139',
 '20051',
 '06013',
 '21131',
 '40041',
 '01025',
 '21017',
 '47135',
 '18129',
 '02290',
 '39175',
 '26137',
 '47163',
 '29021',
 '15001',
 '31123',
 '21165',
 '17065',
 '51067',
 '40073',
 '32019',
 '17133',
 '53023',
 '54067',
 '05131',
 '40059',
 '13239',
 '31135',
 '21031',
 '39133',
 '48043',
 '48303',
 '51167',
 '35025',
 '27001',
 '47007',
 '48047',
 '17149',
 '13139',
 '17001',
 '39023',
 '41013',
 '06001',
 '29217',
 '72063',
 '21033',
 '35045',
 '51047',
 '27165',
 '18051',
 '29073',
 '16061',
 '51107',
 '21177',
 '18081',
 '18133',
 '48349',
 '41053',
 '06105',
 '16011',
 '21171',
 '08007',
 '05061',
 '40089',
 '42043',
 '31177',
 '38005',
 '46117',
 '39147',
 '26161',
 '29149',
 '47043',
 '31183',
 '20163',
 '51720',
 '46119',
 '18011',
 '50027',
 '55011',
 '55013',
 '48317',
 '21229',
 '37163',
 '55101',
 '35009',
 '51111',
 '55041',
 '53053',
 '38041',
 '31059',
 '40057',
 '18077',
 '12061',
 '47143',
 '40085',
 '72127',
 '53049',
 '53077',
 '01131',
 '29037',
 '48385',
 '37017',
 '12079',
 '39079',
 '13189',
 '12051',
 '21181',
 '28035',
 '13233',
 '42115',
 '46003',
 '27023',
 '32001',
 '37169',
 '37061',
 '29079',
 '48295',
 '21089',
 '54083',
 '29153',
 '42041',
 '48185',
 '17187',
 '48405',
 '42065',
 '41061',
 '18171',
 '29101',
 '48269',
 '35037',
 '05059',
 '21225',
 '51087',
 '72095',
 '36121',
 '39019',
 '26073',
 '39141',
 '38013',
 '13011',
 '17003',
 '28111',
 '47095',
 '51005',
 '21157',
 '04009',
 '27049',
 '47023',
 '29087',
 '46063',
 '12109',
 '38069',
 '31033',
 '50003',
 '37025',
 '31131',
 '22007',
 '20127',
 '13257',
 '01003',
 '17059',
 '51007',
 '38045',
 '18103',
 '31039',
 '17163',
 '28037',
 '47041',
 '27171',
 '20133',
 '05039',
 '06015',
 '09001',
 '21065',
 '48415',
 '37153',
 '22071',
 '37117',
 '27061',
 '37171',
 '72089',
 '37101',
 '31125',
 '29065',
 '27015',
 '72135',
 '39121',
 '55071',
 '06099',
 '23005',
 '36037',
 '20069',
 '21045',
 '48245',
 '48309',
 '18001',
 '29131',
 '06057',
 '21107',
 '19085',
 '02100',
 '01129',
 '20005',
 '35011',
 '20071',
 '18057',
 '06093',
 '42045',
 '12093',
 '20095',
 '20107',
 '31079',
 '16069',
 '37037',
 '08009',
 '48503',
 '38093',
 '17045',
 '22015',
 '51193',
 '48271',
 '13283',
 '28073',
 '28075',
 '08063',
 '37055',
 '37011',
 '34015',
 '21013',
 '51033',
 '47153',
 '18069',
 '38085',
 '40111',
 '51775',
 '19161',
 '31021',
 '42071',
 '19047',
 '48157',
 '20201',
 '17129',
 '40005',
 '34005',
 '05051',
 '05071',
 '37091',
 '28077',
 '40015',
 '22097',
 '48283',
 '51710',
 '72107',
 '53061',
 '42123',
 '41007',
 '46061',
 '51053',
 '47141',
 '51670',
 '31067',
 '01039',
 '13053',
 '28093',
 '35047',
 '46093',
 '39073',
 '12021',
 '27147',
 '17113',
 '39043',
 '30103',
 '48179',
 '29221',
 '47059',
 '38001',
 '05121',
 '01017',
 '51145',
 '27149',
 '13181',
 '48039',
 '40115',
 '01087',
 '22109',
 '29069',
 '20179',
 '40083',
 '19057',
 '51009',
 '21117',
 '38075',
 '26127',
 '17171',
 '46105',
 '17067',
 '46099',
 '48379',
 '39145',
 '48475',
 '47081',
 '01019',
 '48321',
 '48065',
 '44001',
 '06085',
 '06063',
 '18087',
 '54079',
 '08041',
 '55039',
 '55123',
 '02261',
 '28129',
 '39171',
 '29179',
 '55055',
 '19189',
 '40153',
 '54011',
 '46045',
 '51650',
 '72051',
 '17195',
 '51001',
 '46041',
 '48073',
 '54001',
 '19181',
 '41047',
 '05101',
 '21111',
 '08003',
 '54027',
 '34001',
 '48267',
 '55009',
 '12091',
 '55129',
 '08014',
 '20035',
 '37137',
 '51135',
 '48163',
 '30071',
 '48057',
 '24047',
 '19113',
 '36073',
 '36025',
 '08027',
 '31093',
 '39153',
 '13309',
 '72087',
 '39005',
 '47105',
 '46087',
 '29215',
 '47099',
 '08087',
 '06039',
 '44003',
 '08097',
 '19129',
 '25011',
 '48053',
 '39143',
 '55025',
 '27047',
 '48175',
 '42117',
 '22047',
 '46037',
 '50023',
 '51590',
 '05093',
 '47129',
 '48259',
 '08103',
 '17041',
 '48187',
 '47005',
 '08095',
 '37141',
 '46083',
 '54049',
 '08071',
 '37073',
 '22061',
 '40103',
 '48449',
 '12033',
 '54033',
 '36003',
 '55078',
 '26037',
 '18169',
 '01015',
 '72053',
 '40119',
 '40105',
 '28087',
 '08053',
 '29115',
 '72151',
 '29201',
 '18117',
 '48195',
 '21083',
 '19017',
 '21073',
 '26153',
 '16007',
 '25017',
 '28063',
 '29113',
 '25003',
 '26097',
 '29009',
 '54043',
 '21059',
 '47137',
 '13137',
 '55079',
 '27091',
 '08113',
 '20181',
 '47063',
 '47179',
 '27097',
 '01079',
 '27071',
 '39067',
 '13171',
 '20075',
 '30059',
 '19019',
 '28089',
 '12017',
 '19155',
 '05073',
 '13007',
 '56015',
 '13153',
 '13245',
 '18181',
 '08089',
 '48083',
 '26021',
 '51083',
 '37031',
 '20059',
 '01093',
 '18037',
 '36055',
 '37065',
 '37189',
 '12119',
 '17161',
 '28151',
 '42003',
 '31027',
 '40139',
 '04011',
 '24019',
 '54105',
 '08011',
 '06113',
 '30041',
 '25025',
 '40129',
 '13081',
 '20149',
 '29186',
 '54107',
 '24009',
 '46081',
 '51153',
 '39111',
 '21011',
 '05085',
 '37157',
 '12083',
 '38055',
 '48093',
 '13145',
 '51750',
 '51109',
 '38039',
 '53073',
 '51025',
 '46089',
 '21185',
 '55093',
 '48499',
 '39055',
 '16055',
 '12086',
 '18121',
 '42015',
 '47015',
 '16037',
 '39101',
 '36029',
 '26133',
 '05067',
 '45049',
 '29195',
 '47087',
 '49037',
 '51117',
 '42129',
 '20023',
 '01051',
 '06049',
 '19187',
 '25007',
 '32011',
 '13209',
 '17021',
 '51730',
 '48137',
 '21133',
 '20137',
 '20203',
 '21115',
 '51113',
 '33009',
 '39007',
 '49005',
 '31035',
 '47073',
 '28003',
 '55115',
 '36111',
 '20011',
 '17165',
 '37111',
 '12071',
 '01101',
 '29119',
 '12129',
 '01005',
 '49045',
 '35039',
 '45085',
 '19069',
 '28065',
 '01061',
 '30009',
 '02016',
 '13271',
 '54013',
 '05077',
 '48217',
 '39059',
 '48207',
 '41055',
 '13001',
 '18119',
 '72079',
 '51079',
 '21021',
 '26123',
 '72081',
 '29005',
 '46019',
 '39091',
 '56035',
 '17167',
 '22063',
 '55081',
 '42103',
 '16019',
 '13111',
 '72013',
 '26163',
 '37127',
 '28153',
 '51159',
 '21173',
 '26143',
 '18173',
 '02013',
 '19127',
 '27035',
 '48235',
 '16079',
 '19061',
 '48111',
 '24001',
 '24005',
 '55019',
 '19063',
 '45069',
 '28019',
 '48479',
 '37183',
 '19183',
 '34031',
 '30077',
 '18165',
 '27013',
 '40037',
 '12045',
 '29225',
 '38049',
 '17037',
 '49027',
 '38023',
 '46091',
 '21129',
 '08069',
 '39161',
 '17027',
 '01001',
 '72057',
 '01133',
 '20045',
 '50005',
 '20085',
 '46021',
 '06071',
 '46027',
 '20147',
 '12013',
 '37013',
 '31003',
 '17035',
 '45025',
 '40131',
 '37059',
 '12019',
 '72027',
 '17185',
 '08019',
 '50025',
 '36081',
 '21215',
 '21123',
 '01099',
 '41041',
 '29105',
 '47065',
 '42017',
 '12107',
 '01053',
 '72083',
 '24035',
 '48319',
 '51059',
 '51127',
 '31045',
 '48409',
 '31149',
 '01069',
 '31065',
 '29103',
 '21121',
 '08049',
 '37049',
 '20167',
 '05015',
 '06075',
 '55087',
 '01009',
 '12053',
 '48143',
 '29043',
 '27121',
 '12097',
 '29139',
 '48399',
 '46129',
 '27037',
 '48351',
 '25021',
 '28029',
 '26033',
 '06069',
 '29085',
 '13279',
 '29033',
 '17147',
 '32027',
 '48347',
 '13015',
 '18059',
 '21199',
 '53003',
 '54101',
 '53039',
 '01059',
 '05045',
 '51540',
 '35007',
 '28131',
 '47123',
 '13037',
 '48345',
 '19073',
 '30015',
 '40117',
 '36087',
 '49049',
 '21097',
 '28005',
 '51165',
 '55141',
 '51139',
 '19035',
 '36079',
 '39137',
 '49051',
 '51065',
 '56009',
 '24027',
 '08079',
 '47117',
 '31159',
 '38073',
 '51810',
 '05111',
 '42007',
 '12113',
 '34041',
 '55033',
 '47019',
 '51530',
 '54055',
 '01095',
 '08005',
 '48331',
 '17099',
 '32017',
 '18049',
 '51017',
 '48215',
 '29213',
 '36075',
 '05025',
 '26165',
 '23023',
 '44007',
 '18163',
 '13313',
 '29081',
 '39015',
 '37019',
 '53019',
 '18111',
 '54041',
 '20099',
 '39129',
 '20173',
 '31009',
 '12005',
 '31145',
 '51073',
 '27027',
 '12007',
 '06021',
 '29047',
 '48335',
 '51131',
 '17193',
 '48343',
 '05023',
 '20027',
 '21053',
 '22113',
 '18141',
 '05027',
 '25015',
 '46121',
 '29209',
 '48141',
 '48461',
 '18033',
 '19045',
 '13091',
 '42089',
 '51037',
 '28097',
 '19165',
 '08013',
 '29057',
 '47027',
 '46111',
 '48155',
 '22029',
 '72025',
 '72093',
 '41045',
 '13141',
 '41017',
 '41065',
 '56025',
 '47103',
 '17097',
 '47049',
 '02180',
 '05079',
 '41021',
 '28047',
 '33013',
 '13047',
 '48117',
 '51015',
 '29155',
 '18031',
 '30069',
 '49047',
 '17049',
 '21197',
 '22065',
 '48055',
 '39107',
 '46049',
 '28139',
 '48171',
 '29041',
 '31181',
 '31029',
 '40071',
 '51069',
 '19109',
 '20063',
 '19065',
 '36047',
 '48131',
 '26075',
 '45079',
 '08075',
 '39167',
 '30003',
 '17177',
 '46039',
 '13049',
 '55035',
 '28041',
 '72001',
 '20111',
 '46043',
 '48329',
 '51161',
 '40069',
 '72065',
 '28053',
 '46077',
 '36031',
 '36043',
 '13291',
 '39155',
 '23011',
 '12009',
 '34007',
 '05063',
 '39033',
 '17183',
 '21105',
 '20019',
 '47111',
 '13117',
 '36123',
 '29165',
 '31121',
 '27125',
 '53057',
 '49031',
 '34029',
 '30101',
 '06025',
 '37063',
 '13055',
 '30035',
 '30107',
 '01035',
 '18015',
 '51173',
 '38043',
 '72031',
 '39105',
 '33001',
 '01047',
 '23021',
 '21095',
 '48463',
 '08047',
 '55065',
 '30055',
 '29207',
 '20153',
 '53007',
 '46025',
 '30091',
 '13281',
 '48051',
 '51600',
 '37069',
 '31141',
 '21085',
 '17073',
 '19093',
 '36051',
 '48401',
 '47079',
 '13105',
 '30027',
 '22059',
 '18085',
 '05113',
 '20141',
 '26093',
 '47077',
 '16083',
 '26005',
 '21147',
 '48127',
 '55107',
 '47127',
 '26107',
 '39119',
 '21193',
 '39013',
 '08119',
 '28157',
 '48369',
 '27155',
 '27131',
 '22025',
 '29175',
 '26139',
 '31169',
 '27025',
 '36045',
 '37173',
 '05147',
 '29023',
 '23015',
 '45063',
 '54015',
 '13087',
 '30033',
 '40099',
 '27083',
 '13017',
 '20125',
 '39077',
 '17075',
 '06047',
 '48239',
 '55125',
 '21223',
 '19015',
 ...}

In [ ]:
final[final['fips'].duplicated()]