In [1]:
import pandas as pd
import numpy as np

In [23]:
pov_data = pd.read_excel('../data/raw_data/Poverty-Rates-by-County-1960-2010.xlsm', sheet_name = 'Data', skiprows = 1)

In [24]:
pov_data.head()

,Number,FIPS,State,County,Poverty Rate 1960,Poverty Rate 1970,Poverty Rate 1980,Poverty Rate 1990,Poverty Rate 2000,Poverty Rate 2010,...,Population 1980,Population 1990,Population 2000,Population 2010,Persons in Poverty 1960,Persons in Poverty 1970,Persons in Poverty 1980,Persons in Poverty 1990,Persons in Poverty 2000,Persons in Poverty 2010
0,NaN,NaN,United States,Total,22.10,13.7,12.403489,13.118086,12.377514,14.900000,...,220845766.0,241977859.0,273882232.0,301333410.0,38684545.0,27124985.0,27392580.0,31742864.0,33899812.0,44852527.0
1,NaN,1.0,Alabama,State Total,42.50,25.4,18.900000,18.300000,16.100000,18.100000,...,3813014.0,3945798.0,4334919.0,4662094.0,1373985.0,857248.0,719905.0,723614.0,698097.0,842292.0
2,1,1001.0,Alabama,Autauga,53.14,23.7,16.622543,15.700000,10.900000,11.551009,...,32107.0,34009.0,43377.0,54255.0,9807.0,5758.0,5337.0,5324.0,4738.0,6267.0
3,2,1003.0,Alabama,Baldwin,41.78,22.6,16.231377,14.300000,10.100000,13.262972,...,77726.0,97227.0,138148.0,180970.0,20773.0,13304.0,12616.0,13947.0,14018.0,24002.0
4,3,1005.0,Alabama,Barbour,65.65,43.7,30.811560,25.200000,26.800000,26.070118,...,24533.0,24785.0,26239.0,24530.0,16395.0,9788.0,7559.0,6244.0,7032.0,6395.0

In [25]:
len(pov_data.columns)

22

In [26]:
pov_data.columns

Index(['Number', 'FIPS', 'State', 'County', 'Poverty Rate 1960',
       'Poverty Rate 1970', 'Poverty Rate 1980', 'Poverty Rate 1990',
       'Poverty Rate 2000', 'Poverty Rate 2010', 'Population 1960',
       'Population 1970', 'Population 1980', 'Population 1990',
       'Population 2000', 'Population 2010', 'Persons in Poverty 1960',
       'Persons in Poverty 1970', 'Persons in Poverty 1980',
       'Persons in Poverty 1990', 'Persons in Poverty 2000',
       'Persons in Poverty 2010'],
      dtype='object')

In [37]:
pov_data = pov_data[(pov_data["County"] != "Total") & (pov_data["County"] != "State Total")]
pov_data.tail()

,Number,FIPS,State,County,Poverty Rate 1960,Poverty Rate 1970,Poverty Rate 1980,Poverty Rate 1990,Poverty Rate 2000,Poverty Rate 2010,...,Population 1980,Population 1990,Population 2000,Population 2010,Persons in Poverty 1960,Persons in Poverty 1970,Persons in Poverty 1980,Persons in Poverty 1990,Persons in Poverty 2000,Persons in Poverty 2010
3193,3143,56045.0,Wyoming,Weston,11.69,9.7,7.420043,9.8,9.9,13.831502,...,7035.0,6423.0,6366.0,6825.0,917.0,604.0,522.0,628.0,628.0,944.0
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,Sources: https://www.census.gov/hhes/www/pove...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196,http://factfinder.census.gov/faces/tableservic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3197,Note: Data labeled as the year 2010 are from t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
pov_data = pov_data[pov_data["FIPS"].isnull() == False]

In [41]:
pov_data['FIPS'] = pov_data["FIPS"].astype(int)

In [43]:
first_pass = pov_data[["FIPS", "State", "County", "Poverty Rate 2010"]]
first_pass.to_csv("../data/Poverty_rates_1.csv")