In [1]:
import pandas as pd

In [2]:
pd.options.display.max_colwidth

50

In [3]:
pd.options.display.max_colwidth = 500

In [8]:
xlsfile = '../Data/raw_data/DataDownload.xls'

In [9]:
main_page = pd.read_excel(xlsfile, dtype={'Food Environment Atlas data download': str})
main_page

                                                                                                                                                                                                                                                                                                                                                                                                 Food Environment Atlas data download
0                                                                                                                                                                                                                                                                                                                                                                               Notes about the Food Environment Atlas download data:
1                                                                                                                                                                                                                                                                                                                                                                                           This file contains multiple spreadsheets:
2                                                                                                                                                                                                                                                                                                                1.  A variable list that includes metadata about all of the variables that are mapped in the Food Environment Atlas.
3                                                                                                                                                                                                                                                                                                                                               2.  Spreadsheets that contain data for each of the Food Environment Atlas categories.
4                                                                                                                                                                                                                                                                                                3.  County and State-level supplemental data that were used as the basis for a number of calculations in the Food Environment Atlas.
5                                                                                                                                                                                                                                                                                                              Note: Data that were not available, not applicable, or suppressed for specific counties are denoted with a blank cell.
6                                                                                                                                                                                                                                                                                                                                                                                                                    Release history:
7                                                                                                                                                                                                                                                                                                                                                                          The original release date of this file is September, 2017.
8                                                                                                                                                                                                                                                                                                                                                                   This file supercedes the orginal file with the following changes:
9   On March 12, 2018, 5 variables--SNAP benefits per capita, 2010; SNAP benefits per capita, 2015; SNAP benefits per capita (% change), 2010-15; Farmers' markets/1,000 pop, 2016; and Farmers' markets/1,000 pop (% change), 2009-16-- were corrected due to an error using the wrong population estimates in the denominator for 5 counties in South Dakota. These counties are Pennington, Perkins, Potter, Roberts, and Sanborn.
10                                     On March 26, 2018, 4 variables--SNAP-authorized stores, 2016; SNAP-authorized stores (% change), 2012-16; SNAP-authorized stores/1,000 pop, 2016;  SNAP-authorized stores/1,000 pop (% change), 2012-16--were recalculated so that the weighting methodology for the number of stores in the county authorized to accept SNAP benefits in 2016 matched the weighting methodology used in 2012.
11                                                                                                                                                                                                                                                                                                                              Previous releases occurred in August 2015, February 2014, November 2012, June 2012, and January 2011.

In [10]:
all_fields = pd.read_excel(xlsfile, sheet_name = 1)
all_fields['Subcategory Name'].unique()

array(['Overall', 'Household Resources', 'Demographics', 'Grocery',
       'Supercenters', 'Convenience', 'Specialized', 'SNAP-authorized',
       'WIC-authorized', 'Fast-food', 'Full-service', 'Expenditures',
       'SNAP', 'National School Lunch Program',
       'School Breakfast Program', 'Summer Food Service Program', 'WIC',
       'Child & Adult Care', 'FDPIR', 'State Food Insecurity', 'Prices',
       'Sales Tax', 'Direct Sales', "Farmers' Markets",
       'Farms & Crop Acreage', 'Other Local Food Outlets', 'Health',
       'Physical Activity', 'Race & Age', 'Income Level', 'Other'],
      dtype=object)

In [36]:
## FUNCTION TO GET SHEETS OF MY FEILDS

desired_columns = ['PCT_LACCESS_POP10', 'FFRPTH09']

def get_sheets_num_for_cols(desired_columns):
    results = {}
    found = 0
    for i in range (2, 12):
        sheet = pd.read_excel(xlsfile, sheet_name = i)
        for col in Desired_columns:
            if col in sheet.columns:
                found += 1
                results[col] = i
                if found == len(Desired_columns):
                    return results
    return results
#46

In [37]:
get_sheets_num_for_cols(desired_columns)

{'FFRPTH09': 6, 'PCT_LACCESS_POP10': 4}

In [56]:
low_access_df = pd.read_excel(xlsfile, sheet_name = 4)
low_access_df = low_access_df[['FIPS', 'State', 'County', "PCT_LACCESS_POP10"]].sort_values('FIPS').reset_index()

In [57]:
low_access_df.shape

(3143, 5)

In [58]:
fast_food_df = pd.read_excel(xlsfile, sheet_name = 6)
fast_food_df = fast_food_df[['FIPS', 'State', 'County', "FFRPTH09"]].sort_values('FIPS').reset_index()

In [59]:
fast_food_df.shape

(3143, 5)

In [60]:
fast_food_df.tail()

      index   FIPS State      County  FFRPTH09
3138   3138  56037    WY  Sweetwater  0.611787
3139   3139  56039    WY       Teton  1.177468
3140   3140  56041    WY       Uinta  0.712454
3141   3141  56043    WY    Washakie  0.949780
3142   3142  56045    WY      Weston  0.550509

In [55]:
low_access_df.tail()

       FIPS State      County  PCT_LACCESS_POP10
3138  56037    WY  Sweetwater          30.570505
3139  56039    WY       Teton          29.174527
3140  56041    WY       Uinta          20.220414
3141  56043    WY    Washakie          10.915407
3142  56045    WY      Weston          17.209949

In [71]:
final_df = pd.merge(fast_food_df, low_access_df).drop('index', axis = 1)
final_df.head()

   FIPS State   County  FFRPTH09  PCT_LACCESS_POP10
0  1001    AL  Autauga  0.554170          33.769657
1  1003    AL  Baldwin  0.624282          19.318473
2  1005    AL  Barbour  0.759301          20.840972
3  1007    AL     Bibb  0.305131           4.559753
4  1009    AL   Blount  0.418549           2.700840

In [72]:
final_df.to_csv('../data/Food_Env_Atlas_1.csv')