In [292]:
import pandas as pd
import numpy as np

In [314]:
#1 uploading data

In [315]:
alc_desc = pd.read_excel('../data/raw_data/IHME_USA_COUNTY_ALCOHOL_USE_PREVALENCE_2002_2012_NATIONAL_Y2015M04D23.XLSX')

pd.options.display.max_colwidth = 500

In [316]:
alc_desc.head()

  Drinking Patterns in US Counties from 2002 to 2012 - dataset overview                                                                Unnamed: 1                                                                                                                                              Unnamed: 2
0                                                              Tab name                                                               Description                                                                                                                                             Definitions
1                                                                   Any               Age-standardized Prevalence of Any Drinking by year and sex                                                           "Any" drinking is defined as at least one drink of any alcoholic bevarage in the past 30 days
2                                                                   NaN             Percent Change in Age-standardized Prevalence of Any Drinking                                                                                                                                                     NaN
3                                                                 Heavy  Age-standardized Prevalence of Heavy Drinking by year and sex, 2005-2012  "Heavy" drinking is defined as the consumption, on average, of more than one drink per day for women or two drinks per day for men in the past 30 days
4                                                                   NaN           Percent Change in Age-standardized Prevalence of Heavy Drinking                                                                                                                                                     NaN

In [317]:
#upload 'Any' Data

In [318]:
alc_any = pd.read_excel('../data/raw_data/IHME_USA_COUNTY_ALCOHOL_USE_PREVALENCE_2002_2012_NATIONAL_Y2015M04D23.XLSX', sheet_name = "Any")

In [319]:
alc_any.head()

      State        Location  2002 Both Sexes  2002 Females  2002 Males  2003 Both Sexes  2003 Females  2003 Males  2004 Both Sexes  2004 Females  ...  2011 Males  2012 Both Sexes  2012 Females  2012 Males  Percent Change 2002-2012, Both Sexes  Percent Change 2002-2012, Females  Percent Change 2002-2012, Males  Percent Change 2005-2012, Both Sexes  Percent Change 2005-2012, Females  Percent Change 2005-2012, Males
0  National   United States             55.4          47.5        63.7             56.6          48.9        64.6             55.2          47.6  ...        63.9             56.0          49.1        63.0                                   0.9                                3.5                             -1.0                                   0.0                                0.9                             -0.8
1   Alabama         Alabama             40.7          32.1        49.6             42.3          33.8        51.2             41.0          32.9  ...        52.5             43.6          36.5        51.0                                   7.2                               13.5                              2.9                                   3.1                                7.8                             -0.1
2   Alabama  Autauga County             39.4          29.4        49.7             40.6          31.0        50.6             39.2          30.1  ...        52.0             42.5          34.4        50.9                                   7.9                               17.1                              2.3                                   4.5                                8.9                              1.6
3   Alabama  Baldwin County             54.0          45.7        62.5             54.9          47.0        63.2             53.1          45.2  ...        64.3             55.7          48.8        62.8                                   3.2                                6.8                              0.4                                   2.2                                5.0                              0.1
4   Alabama  Barbour County             36.0          27.3        45.0             37.9          29.2        46.9             35.8          27.4  ...        48.2             37.6          29.2        46.3                                   4.6                                7.2                              3.0                                   0.7                                1.9                             -0.1

[5 rows x 41 columns]

In [320]:
alc_data['2010 Both Sexes'].describe()

count    3179.000000
mean       49.952092
std        11.951590
min        10.500000
25%        40.800000
50%        50.900000
75%        59.900000
max        79.200000
Name: 2010 Both Sexes, dtype: float64

In [321]:
#Break Apart rows with several locations

In [322]:
alc_any = alc_any[['State', 'Location', '2010 Both Sexes']]
alc_any.columns = ['State', 'Location', 'Alcohol:Any:2010']
alc_any = alc_any[alc_any['State'] != alc_any['Location']]  #When they are equal, metrics are state level not ounty level

In [323]:
alc_any.head()

      State        Location  Alcohol:Any:2010
0  National   United States              56.1
2   Alabama  Autauga County              42.5
3   Alabama  Baldwin County              54.6
4   Alabama  Barbour County              38.6
5   Alabama     Bibb County              34.4

In [324]:
#get "HEAVY" drinking %

In [325]:
alc_heavy = pd.read_excel('../data/raw_data/IHME_USA_COUNTY_ALCOHOL_USE_PREVALENCE_2002_2012_NATIONAL_Y2015M04D23.XLSX', sheet_name = "Heavy")

In [326]:
alc_heavy.head()

      State        Location  2005 Both Sexes  2005 Females  2005 Males  2006 Both Sexes  2006 Females  2006 Males  2007 Both Sexes  2007 Females  ...  2010 Males  2011 Both Sexes  2011 Females  2011 Males  2012 Both Sexes  2012 Females  2012 Males  Percent Change 2005-2012, Both Sexes  Percent Change 2005-2012, Females  Percent Change 2005-2012, Males
0  National   United States              7.0           5.2         8.9              7.2           5.5         8.9              7.7           5.9  ...         9.4              8.8           7.0        10.6              8.2           6.7         9.9                                  17.2                               28.2                             10.5
1   Alabama         Alabama              6.0           3.6         8.4              5.6           3.4         7.9              5.6           3.5  ...         8.3              7.3           4.6        10.1              6.6           4.3         8.9                                   9.8                               19.1                              5.6
2   Alabama  Autauga County              6.2           3.4         9.0              5.6           3.0         8.3              5.6           3.3  ...         8.1              6.9           4.0        10.0              6.3           3.8         8.8                                   1.7                               12.2                             -2.4
3   Alabama  Baldwin County              9.0           6.7        11.3              8.4           6.1        10.8              8.4           6.1  ...        11.1             10.4           7.8        13.1              9.3           7.3        11.4                                   3.4                                7.7                              0.8
4   Alabama  Barbour County              5.4           2.5         8.3              5.0           2.0         8.1              5.1           1.9  ...        10.0              7.4           2.5        12.4              6.4           2.3        10.5                                  18.3                               -7.6                             26.4

[5 rows x 29 columns]

In [327]:
alc_heavy['2010 Both Sexes'].describe()

count    3179.000000
mean        7.533910
std         2.450056
min         2.100000
25%         5.800000
50%         7.200000
75%         8.900000
max        21.600000
Name: 2010 Both Sexes, dtype: float64

In [328]:
alc_heavy = alc_heavy[['State', 'Location', '2010 Both Sexes']]
alc_heavy.columns = ['State', 'Location', 'Alcohol:Heavy:2010']
alc_heavy = alc_heavy[alc_heavy['State'] != alc_heavy['Location']]  #When they are equal, metrics are state level not ounty level

In [329]:
alc_heavy.head()

      State        Location  Alcohol:Heavy:2010
0  National   United States                 7.8
2   Alabama  Autauga County                 5.8
3   Alabama  Baldwin County                 8.7
4   Alabama  Barbour County                 6.1
5   Alabama     Bibb County                 5.0

In [330]:
#Put into one big alc dataframe

In [336]:
alc = pd.merge(alc_any, alc_heavy, on = ["State", "Location"])

In [337]:
#Break Apart rows with several locations

In [338]:
alc_together_counties = alc[alc['Location'].str.contains(",")]  #need to break up ones iwth multiple locations
alc_together_counties.shape

(10, 4)

In [339]:
alc = alc[~alc['Location'].str.contains(",")] 
alc.shape

(3118, 4)

In [342]:
alc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3118 entries, 0 to 3127
Data columns (total 4 columns):
State                 3118 non-null object
Location              3118 non-null object
Alcohol:Any:2010      3118 non-null float64
Alcohol:Heavy:2010    3118 non-null float64
dtypes: float64(2), object(2)
memory usage: 121.8+ KB

In [343]:
for i in range(alc_together_counties.shape[0]):
    row = alc_together_counties.iloc[i]
    locations = row['Location'].split(", ")
    for location in locations:
        alc = alc.append(pd.DataFrame([[row['State'], location, row['Alcohol:Any:2010'], row['Alcohol:Heavy:2010'] ]], columns = alc.columns ))

In [344]:
alc.shape

(3144, 4)

# Attach to FIPS

In [347]:
fips = pd.read_csv('../data/county_fips_mapping.csv')

In [348]:
fips.head()

   Unnamed: 0  fips   county state_abbr    state  census_CTYNAME
0           0  1001  Autauga         AL  Alabama  Autauga County
1           1  1003  Baldwin         AL  Alabama  Baldwin County
2           2  1005  Barbour         AL  Alabama  Barbour County
3           3  1007     Bibb         AL  Alabama     Bibb County
4           4  1009   Blount         AL  Alabama   Blount County

In [349]:
fips['StateCounty'] = fips['state'].str.lower() + fips['census_CTYNAME'].str.lower()
fips.shape

(3236, 7)

In [350]:
fips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3236 entries, 0 to 3235
Data columns (total 7 columns):
Unnamed: 0        3236 non-null int64
fips              3236 non-null int64
county            3236 non-null object
state_abbr        3236 non-null object
state             3236 non-null object
census_CTYNAME    3236 non-null object
StateCounty       3236 non-null object
dtypes: int64(2), object(5)
memory usage: 177.0+ KB

In [351]:
alc['StateCounty'] = alc["State"].str.lower() + alc['Location'].str.lower()
alc.shape

(3144, 5)

In [353]:
alc.head()

      State        Location  Alcohol:Any:2010  Alcohol:Heavy:2010            StateCounty
0  National   United States              56.1                 7.8  nationalunited states
1   Alabama  Autauga County              42.5                 5.8  alabamaautauga county
2   Alabama  Baldwin County              54.6                 8.7  alabamabaldwin county
3   Alabama  Barbour County              38.6                 6.1  alabamabarbour county
4   Alabama     Bibb County              34.4                 5.0     alabamabibb county

In [354]:
newdf = pd.merge(alc, fips, on = "StateCounty", how = 'outer')

In [355]:
newdf.shape   #exactly 100 missing

(3244, 11)

In [359]:
missing_fips = newdf[newdf['fips'].isnull()]['StateCounty']
missing_fips

0                         nationalunited states
87               alaskawade hampton census area
1125                   louisianala salle parish
1787                  new mexicodona ana county
2402                 south dakotashannon county
3124               alaskapetersburg census area
3125    alaskaprince of wales-hyder census area
3137                       virginiabedford city
Name: StateCounty, dtype: object

In [357]:
fips[(fips['county'].str.contains('Shannon')) | 
     (fips['county'].str.contains('Wade Hampton')) |
    (fips['county'].str.contains('La Salle')) |
          (fips['county'].str.contains('Dona Ana')) |
          (fips['county'].str.contains('Petersburg')) |
          (fips['county'].str.contains('Hyder')) |
          (fips['county'].str.contains('Bedford')) 
    ]

      Unnamed: 0   fips                  county state_abbr         state                census_CTYNAME                         StateCounty
1460        1630  29203                 Shannon         MO      Missouri                Shannon County              missourishannon county
2120        2290  42009                 Bedford         PA  Pennsylvania                Bedford County          pennsylvaniabedford county
2300        2470  47003                 Bedford         TN     Tennessee                Bedford County             tennesseebedford county
2533        2703  48283                La Salle         TX         Texas               La Salle County                texasla salle county
2698        2868  51019                 Bedford         VA      Virginia                Bedford County              virginiabedford county
2997        3167   2270            Wade Hampton         AK        Alaska          Kusilvak Census Area          alaskakusilvak census area
2998        3168   2280     Wrangell-Petersburg         AK        Alaska    Wrangell-Petersburg County    alaskawrangell-petersburg county
3002        3172   2195  Petersburg Census Area         AK        Alaska            Petersburg Borough            alaskapetersburg borough
3003        3173   2198   Prince of Wales-Hyder         AK        Alaska  Prince of Wales-Hyder County  alaskaprince of wales-hyder county
3015        3185  17099                La Salle         IL      Illinois                LaSalle County              illinoislasalle county
3051        3221  22059                La Salle         LA     Louisiana                LaSalle Parish             louisianalasalle parish
3102        3272  35013                Dona Ana         NM    New Mexico               Doña Ana County           new mexicodoña ana county
3105        3275  46113                 Shannon         SD  South Dakota          Oglala Lakota County    south dakotaoglala lakota county
3109        3279  51515            Bedford City         VA      Virginia           Bedford City County         virginiabedford city county
3135        3305  51730         Petersburg City         VA      Virginia               Petersburg city             virginiapetersburg city

In [358]:
special_cases = {   #INDEX IN NEW DATAFRAME :  FIPS CODE
87:    2270,        #   alaskawade hampton census area
1125: 22059,           #        louisianala salle parish
1787 : 35013,          #       new mexicodona ana county
2402:   46113,         #      south dakotashannon county
3124: 2195,       #    alaskapetersburg census area
3125: 2198,  #  alaskaprince of wales-hyder census area
3137: 51515,   #                    virginiabedford city
}

In [365]:
#check my keys are right, should get "True"
set(special_cases.keys() ) == set(missing_fips.index.values) - set([0])

True

In [370]:
#check that my fips codes bring up the correct matching cities
fips[fips['fips'].isin(special_cases.values())]

      Unnamed: 0   fips                  county state_abbr         state                census_CTYNAME                         StateCounty
2997        3167   2270            Wade Hampton         AK        Alaska          Kusilvak Census Area          alaskakusilvak census area
3002        3172   2195  Petersburg Census Area         AK        Alaska            Petersburg Borough            alaskapetersburg borough
3003        3173   2198   Prince of Wales-Hyder         AK        Alaska  Prince of Wales-Hyder County  alaskaprince of wales-hyder county
3051        3221  22059                La Salle         LA     Louisiana                LaSalle Parish             louisianalasalle parish
3102        3272  35013                Dona Ana         NM    New Mexico               Doña Ana County           new mexicodoña ana county
3105        3275  46113                 Shannon         SD  South Dakota          Oglala Lakota County    south dakotaoglala lakota county
3109        3279  51515            Bedford City         VA      Virginia           Bedford City County         virginiabedford city county

In [371]:
for key, value in special_cases.items():
    newdf.loc[key, 'fips'] = value

In [373]:
newdf.loc[special_cases.keys()]  #checking that they now have Fips codes!

             State                           Location  Alcohol:Any:2010  Alcohol:Heavy:2010                              StateCounty  Unnamed: 0     fips county state_abbr state census_CTYNAME
87          Alaska           Wade Hampton Census Area              28.5                 6.7           alaskawade hampton census area         NaN   2270.0    NaN        NaN   NaN            NaN
1125     Louisiana                    La Salle Parish              37.4                 5.5                 louisianala salle parish         NaN  22059.0    NaN        NaN   NaN            NaN
1787    New Mexico                    Dona Ana County              52.0                 7.5                new mexicodona ana county         NaN  35013.0    NaN        NaN   NaN            NaN
2402  South Dakota                     Shannon County              29.8                16.6               south dakotashannon county         NaN  46113.0    NaN        NaN   NaN            NaN
3124        Alaska             Petersburg Census Area              61.0                11.7             alaskapetersburg census area         NaN   2195.0    NaN        NaN   NaN            NaN
3125        Alaska  Prince of Wales-Hyder Census Area              61.0                11.7  alaskaprince of wales-hyder census area         NaN   2198.0    NaN        NaN   NaN            NaN
3137      Virginia                       Bedford City              47.3                 6.2                     virginiabedford city         NaN  51515.0    NaN        NaN   NaN            NaN

In [374]:
newdf.head()

      State        Location  Alcohol:Any:2010  Alcohol:Heavy:2010            StateCounty  Unnamed: 0    fips   county state_abbr    state  census_CTYNAME
0  National   United States              56.1                 7.8  nationalunited states         NaN     NaN      NaN        NaN      NaN             NaN
1   Alabama  Autauga County              42.5                 5.8  alabamaautauga county         0.0  1001.0  Autauga         AL  Alabama  Autauga County
2   Alabama  Baldwin County              54.6                 8.7  alabamabaldwin county         1.0  1003.0  Baldwin         AL  Alabama  Baldwin County
3   Alabama  Barbour County              38.6                 6.1  alabamabarbour county         2.0  1005.0  Barbour         AL  Alabama  Barbour County
4   Alabama     Bibb County              34.4                 5.0     alabamabibb county         3.0  1007.0     Bibb         AL  Alabama     Bibb County

In [375]:
newdf = newdf[newdf['fips'].isnull() == False]

In [376]:
newdf = newdf[newdf['State'].isnull() == False]

In [377]:
newdf.head()

     State        Location  Alcohol:Any:2010  Alcohol:Heavy:2010            StateCounty  Unnamed: 0    fips   county state_abbr    state  census_CTYNAME
1  Alabama  Autauga County              42.5                 5.8  alabamaautauga county         0.0  1001.0  Autauga         AL  Alabama  Autauga County
2  Alabama  Baldwin County              54.6                 8.7  alabamabaldwin county         1.0  1003.0  Baldwin         AL  Alabama  Baldwin County
3  Alabama  Barbour County              38.6                 6.1  alabamabarbour county         2.0  1005.0  Barbour         AL  Alabama  Barbour County
4  Alabama     Bibb County              34.4                 5.0     alabamabibb county         3.0  1007.0     Bibb         AL  Alabama     Bibb County
5  Alabama   Blount County              33.5                 4.6   alabamablount county         4.0  1009.0   Blount         AL  Alabama   Blount County

In [378]:
newdf.shape

(3143, 11)

In [379]:
# Exporting to CSV  (first-pass)

In [380]:
newdf.columns

Index(['State', 'Location', 'Alcohol:Any:2010', 'Alcohol:Heavy:2010', 'StateCounty', 'Unnamed: 0', 'fips', 'county', 'state_abbr', 'state', 'census_CTYNAME'], dtype='object')

In [381]:
first_pass = newdf[["State", "Location", "fips", 'Alcohol:Any:2010', 'Alcohol:Heavy:2010']]

first_pass.to_csv('../data/Alcohol_rates_1.csv')