In [1]:
import pandas as pd
import numpy as np

In [2]:
#1  GETTING DIABETES RATE BY YEAR

In [3]:
Diabetes_data = pd.read_excel('../data/raw_data/DM_PREV_ALL_STATES.xlsx', skiprows=1)  #Diagnosed Diabetes Prevalence ("DDP")
Diabetes_years = pd.read_excel('../data/raw_data/DM_PREV_ALL_STATES.xlsx', nrows=1)

In [4]:
Diabetes_data.head()

,State,FIPS Codes,County,number,percent,lower confidence limit,upper confidence limit,age-adjusted percent,age-adjusted lower confidence limit,age-adjusted upper confidence limit,...,age-adjusted percent.8,age-adjusted lower confidence limit.8,age-adjusted upper confidence limit.8,number.9,percent.9,lower confidence limit.9,upper confidence limit.9,age-adjusted percent.9,age-adjusted lower confidence limit.9,age-adjusted upper confidence limit.9
0,Alabama,1001,Autauga County,3368,10,7.8,12.8,9.9,7.8,12.6,...,11.1,8.8,13.8,5144,13,10.5,15.8,11.9,9.6,14.6
1,Alabama,1003,Baldwin County,9509,8.1,6.5,9.9,7.2,5.7,9,...,9.1,7.6,10.6,15367,10.4,8.7,12,8.8,7.3,10.2
2,Alabama,1005,Barbour County,2117,10.1,7.9,12.8,9.7,7.7,12.2,...,14.9,11.9,18.4,3813,18.4,14.9,22.9,16.9,13.5,21.2
3,Alabama,1007,Bibb County,1406,8.9,6.9,11.5,9,6.9,11.8,...,12.4,9.7,15.5,2557,14.8,11.5,18.4,13.8,10.6,17.3
4,Alabama,1009,Blount County,3367,8.3,6.3,10.8,8,6.1,10.4,...,12.2,9.5,15.3,5990,14.1,11,17.1,12.3,9.5,15.1

In [5]:
Diabetes_years

,Diagnosed Diabetes Prevalence,Unnamed: 1,Unnamed: 2,2004,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 63,Unnamed: 64,Unnamed: 65,2013,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72
0,State,FIPS Codes,County,number,percent,lower confidence limit,upper confidence limit,age-adjusted percent,age-adjusted lower confidence limit,age-adjusted upper confidence limit,...,age-adjusted percent,age-adjusted lower confidence limit,age-adjusted upper confidence limit,number,percent,lower confidence limit,upper confidence limit,age-adjusted percent,age-adjusted lower confidence limit,age-adjusted upper confidence limit

In [6]:
np.array(Diabetes_years.columns)

array(['Diagnosed Diabetes Prevalence', 'Unnamed: 1', 'Unnamed: 2', 2004,
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 2005, 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 2006,
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 2007, 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 2008,
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 2009, 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 2010,
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 2011, 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 2012,
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 2013, 'Unnamed: 67', 'Unnamed: 68',
       'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72'],
      dtype=object)

In [7]:
new_column_headers = np.array(['', '', '',
                               'DDP:2004:','DDP:2004:','DDP:2004:','DDP:2004:','DDP:2004:','DDP:2004:','DDP:2004:',
                               'DDP:2005:','DDP:2005:','DDP:2005:','DDP:2005:','DDP:2005:','DDP:2005:','DDP:2005:',
                               'DDP:2006:','DDP:2006:','DDP:2006:','DDP:2006:','DDP:2006:','DDP:2006:','DDP:2006:',
                               'DDP:2007:','DDP:2007:','DDP:2007:','DDP:2007:','DDP:2007:','DDP:2007:','DDP:2007:',
                               'DDP:2008:','DDP:2008:','DDP:2008:','DDP:2008:','DDP:2008:','DDP:2008:','DDP:2008:',
                               'DDP:2009:','DDP:2009:','DDP:2009:','DDP:2009:','DDP:2009:','DDP:2009:','DDP:2009:',
                               'DDP:2010:','DDP:2010:','DDP:2010:','DDP:2010:','DDP:2010:','DDP:2010:','DDP:2010:',
                               'DDP:2011:','DDP:2011:','DDP:2011:','DDP:2011:','DDP:2011:','DDP:2011:','DDP:2011:',
                               'DDP:2012:','DDP:2012:','DDP:2012:','DDP:2012:','DDP:2012:','DDP:2012:','DDP:2012:',
                               'DDP:2013:','DDP:2013:','DDP:2013:','DDP:2013:','DDP:2013:','DDP:2013:','DDP:2013:'])

In [10]:
#checking aligment of my column names to original ones
pd.DataFrame(new_column_headers, np.array(Diabetes_years.columns)).head()

                                       0
Diagnosed Diabetes Prevalence
Unnamed: 1
Unnamed: 2
2004                           DDP:2004:
Unnamed: 4                     DDP:2004:

In [11]:
Diabetes_data.columns

Index(['State', 'FIPS Codes', 'County', 'number', 'percent',
       'lower confidence limit', 'upper confidence limit',
       'age-adjusted percent', 'age-adjusted lower confidence limit',
       'age-adjusted upper confidence limit', 'number.1', 'percent.1',
       'lower confidence limit.1', 'upper confidence limit.1',
       'age-adjusted percent.1', 'age-adjusted lower confidence limit.1',
       'age-adjusted upper confidence limit.1', 'number.2', 'percent.2',
       'lower confidence limit.2', 'upper confidence limit.2',
       'age-adjusted percent.2', 'age-adjusted lower confidence limit.2',
       'age-adjusted upper confidence limit.2', 'number.3', 'percent.3',
       'lower confidence limit.3', 'upper confidence limit.3',
       'age-adjusted percent.3', 'age-adjusted lower confidence limit.3',
       'age-adjusted upper confidence limit.3', 'number.4', 'percent.4',
       'lower confidence limit.4', 'upper confidence limit.4',
       'age-adjusted percent.4', 'age-adjusted lower confidence limit.4',
       'age-adjusted upper confidence limit.4', 'number.5', 'percent.5',
       'lower confidence limit.5', 'upper confidence limit.5',
       'age-adjusted percent.5', 'age-adjusted lower confidence limit.5',
       'age-adjusted upper confidence limit.5', 'number.6', 'percent.6',
       'lower confidence limit.6', 'upper confidence limit.6',
       'age-adjusted percent.6', 'age-adjusted lower confidence limit.6',
       'age-adjusted upper confidence limit.6', 'number.7', 'percent.7',
       'lower confidence limit.7', 'upper confidence limit.7',
       'age-adjusted percent.7', 'age-adjusted lower confidence limit.7',
       'age-adjusted upper confidence limit.7', 'number.8', 'percent.8',
       'lower confidence limit.8', 'upper confidence limit.8',
       'age-adjusted percent.8', 'age-adjusted lower confidence limit.8',
       'age-adjusted upper confidence limit.8', 'number.9', 'percent.9',
       'lower confidence limit.9', 'upper confidence limit.9',
       'age-adjusted percent.9', 'age-adjusted lower confidence limit.9',
       'age-adjusted upper confidence limit.9'],
      dtype='object')

In [12]:
Diabetes_data.columns = new_column_headers + Diabetes_data.columns

In [13]:
Diabetes_data.head()

,State,FIPS Codes,County,DDP:2004:number,DDP:2004:percent,DDP:2004:lower confidence limit,DDP:2004:upper confidence limit,DDP:2004:age-adjusted percent,DDP:2004:age-adjusted lower confidence limit,DDP:2004:age-adjusted upper confidence limit,...,DDP:2012:age-adjusted percent.8,DDP:2012:age-adjusted lower confidence limit.8,DDP:2012:age-adjusted upper confidence limit.8,DDP:2013:number.9,DDP:2013:percent.9,DDP:2013:lower confidence limit.9,DDP:2013:upper confidence limit.9,DDP:2013:age-adjusted percent.9,DDP:2013:age-adjusted lower confidence limit.9,DDP:2013:age-adjusted upper confidence limit.9
0,Alabama,1001,Autauga County,3368,10,7.8,12.8,9.9,7.8,12.6,...,11.1,8.8,13.8,5144,13,10.5,15.8,11.9,9.6,14.6
1,Alabama,1003,Baldwin County,9509,8.1,6.5,9.9,7.2,5.7,9,...,9.1,7.6,10.6,15367,10.4,8.7,12,8.8,7.3,10.2
2,Alabama,1005,Barbour County,2117,10.1,7.9,12.8,9.7,7.7,12.2,...,14.9,11.9,18.4,3813,18.4,14.9,22.9,16.9,13.5,21.2
3,Alabama,1007,Bibb County,1406,8.9,6.9,11.5,9,6.9,11.8,...,12.4,9.7,15.5,2557,14.8,11.5,18.4,13.8,10.6,17.3
4,Alabama,1009,Blount County,3367,8.3,6.3,10.8,8,6.1,10.4,...,12.2,9.5,15.3,5990,14.1,11,17.1,12.3,9.5,15.1

In [14]:
Diabetes_data.columns

Index(['State', 'FIPS Codes', 'County', 'DDP:2004:number', 'DDP:2004:percent',
       'DDP:2004:lower confidence limit', 'DDP:2004:upper confidence limit',
       'DDP:2004:age-adjusted percent',
       'DDP:2004:age-adjusted lower confidence limit',
       'DDP:2004:age-adjusted upper confidence limit', 'DDP:2005:number.1',
       'DDP:2005:percent.1', 'DDP:2005:lower confidence limit.1',
       'DDP:2005:upper confidence limit.1', 'DDP:2005:age-adjusted percent.1',
       'DDP:2005:age-adjusted lower confidence limit.1',
       'DDP:2005:age-adjusted upper confidence limit.1', 'DDP:2006:number.2',
       'DDP:2006:percent.2', 'DDP:2006:lower confidence limit.2',
       'DDP:2006:upper confidence limit.2', 'DDP:2006:age-adjusted percent.2',
       'DDP:2006:age-adjusted lower confidence limit.2',
       'DDP:2006:age-adjusted upper confidence limit.2', 'DDP:2007:number.3',
       'DDP:2007:percent.3', 'DDP:2007:lower confidence limit.3',
       'DDP:2007:upper confidence limit.3', 'DDP:2007:age-adjusted percent.3',
       'DDP:2007:age-adjusted lower confidence limit.3',
       'DDP:2007:age-adjusted upper confidence limit.3', 'DDP:2008:number.4',
       'DDP:2008:percent.4', 'DDP:2008:lower confidence limit.4',
       'DDP:2008:upper confidence limit.4', 'DDP:2008:age-adjusted percent.4',
       'DDP:2008:age-adjusted lower confidence limit.4',
       'DDP:2008:age-adjusted upper confidence limit.4', 'DDP:2009:number.5',
       'DDP:2009:percent.5', 'DDP:2009:lower confidence limit.5',
       'DDP:2009:upper confidence limit.5', 'DDP:2009:age-adjusted percent.5',
       'DDP:2009:age-adjusted lower confidence limit.5',
       'DDP:2009:age-adjusted upper confidence limit.5', 'DDP:2010:number.6',
       'DDP:2010:percent.6', 'DDP:2010:lower confidence limit.6',
       'DDP:2010:upper confidence limit.6', 'DDP:2010:age-adjusted percent.6',
       'DDP:2010:age-adjusted lower confidence limit.6',
       'DDP:2010:age-adjusted upper confidence limit.6', 'DDP:2011:number.7',
       'DDP:2011:percent.7', 'DDP:2011:lower confidence limit.7',
       'DDP:2011:upper confidence limit.7', 'DDP:2011:age-adjusted percent.7',
       'DDP:2011:age-adjusted lower confidence limit.7',
       'DDP:2011:age-adjusted upper confidence limit.7', 'DDP:2012:number.8',
       'DDP:2012:percent.8', 'DDP:2012:lower confidence limit.8',
       'DDP:2012:upper confidence limit.8', 'DDP:2012:age-adjusted percent.8',
       'DDP:2012:age-adjusted lower confidence limit.8',
       'DDP:2012:age-adjusted upper confidence limit.8', 'DDP:2013:number.9',
       'DDP:2013:percent.9', 'DDP:2013:lower confidence limit.9',
       'DDP:2013:upper confidence limit.9', 'DDP:2013:age-adjusted percent.9',
       'DDP:2013:age-adjusted lower confidence limit.9',
       'DDP:2013:age-adjusted upper confidence limit.9'],
      dtype='object')

In [15]:
#Third pass! Second pass + % change in diabetes rate 2009 - 2010 and 2007-2010

In [16]:
third_pass = Diabetes_data[["State", "FIPS Codes", "County", "DDP:2012:percent.8", "DDP:2009:percent.5", "DDP:2010:percent.6", "DDP:2013:percent.9", "DDP:2007:percent.3" ]]

In [17]:
third_pass.head()

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2009:percent.5,DDP:2010:percent.6,DDP:2013:percent.9,DDP:2007:percent.3
0,Alabama,1001,Autauga County,12,12.3,11.8,13,11.4
1,Alabama,1003,Baldwin County,10.8,11.4,11.8,10.4,9.4
2,Alabama,1005,Barbour County,16.2,14,14.2,18.4,13
3,Alabama,1007,Bibb County,13.2,11.8,11.1,14.8,11.6
4,Alabama,1009,Blount County,13.8,12.6,14,14.1,10.5

In [18]:
third_pass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3224 entries, 0 to 3223
Data columns (total 8 columns):
State                 3224 non-null object
FIPS Codes            3224 non-null int64
County                3224 non-null object
DDP:2012:percent.8    3224 non-null object
DDP:2009:percent.5    3224 non-null object
DDP:2010:percent.6    3224 non-null object
DDP:2013:percent.9    3224 non-null object
DDP:2007:percent.3    3224 non-null object
dtypes: int64(1), object(7)
memory usage: 201.6+ KB

In [19]:
third_pass.columns

Index(['State', 'FIPS Codes', 'County', 'DDP:2012:percent.8',
       'DDP:2009:percent.5', 'DDP:2010:percent.6', 'DDP:2013:percent.9',
       'DDP:2007:percent.3'],
      dtype='object')

In [23]:
#finding columns with missing numbers in 
third_pass[third_pass[['DDP:2012:percent.8', 'DDP:2009:percent.5', 'DDP:2010:percent.6', 
            'DDP:2013:percent.9', 'DDP:2007:percent.3']].applymap(np.isreal).sum(axis = 1) < 5]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2009:percent.5,DDP:2010:percent.6,DDP:2013:percent.9,DDP:2007:percent.3
76,Alaska,2105,Hoonah-Angoon 2009 Census,8.1,8.8,9.6,7.3,No Data
86,Alaska,2195,Petersburg 2009 Census,7,7.1,7,7.1,No Data
87,Alaska,2198,Prince of Wales-Hyder 2009 Census,7.7,7.2,7.6,7.3,No Data
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,No Data,No Data,No Data,No Data,6.8
90,Alaska,2230,Skagway Municipality 2009 Census,6.7,6.2,6.5,6.4,No Data
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,No Data,No Data,No Data,No Data,6.9
95,Alaska,2275,Wrangell City and Borough 2009 Census,8.7,8.2,8.7,8.9,No Data
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,No Data,No Data,No Data,No Data,7
2919,Virginia,51515,Bedford city,12.4,12.7,12.8,No Data,12.1

In [24]:
#Choice: 
# - To convert Virginia to 2012
# to not include 2007-2010 for now, as it'll probably mess up my train/test split
# - and all the rest to NANs, to be filtered out later

In [25]:
third_pass.loc[2919, 'DDP:2013:percent.9'] = Diabetes_data.iloc[2919]['DDP:2012:percent.8']

/Users/LB/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [26]:
third_pass.iloc[2919]

State                     Virginia
FIPS Codes                   51515
County                Bedford city
DDP:2012:percent.8            12.4
DDP:2009:percent.5            12.7
DDP:2010:percent.6            12.8
DDP:2013:percent.9            12.4
DDP:2007:percent.3            12.1
Name: 2919, dtype: object

In [27]:
third_pass['DDP:2012:percent.8'] = pd.to_numeric(third_pass['DDP:2012:percent.8'], errors = 'coerce')
third_pass['DDP:2009:percent.5'] = pd.to_numeric(third_pass['DDP:2009:percent.5'], errors = 'coerce')
third_pass['DDP:2010:percent.6'] = pd.to_numeric(third_pass['DDP:2010:percent.6'], errors = 'coerce')
third_pass['DDP:2013:percent.9'] = pd.to_numeric(third_pass['DDP:2013:percent.9'], errors = 'coerce')

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [28]:
#making sure no missing numbers
third_pass[third_pass[['DDP:2012:percent.8', 'DDP:2009:percent.5', 'DDP:2010:percent.6', 
            'DDP:2013:percent.9']].applymap(np.isreal).sum(axis = 1) < 4]

Empty DataFrame
Columns: [State, FIPS Codes, County, DDP:2012:percent.8, DDP:2009:percent.5, DDP:2010:percent.6, DDP:2013:percent.9, DDP:2007:percent.3]
Index: []

In [29]:
#making sure NANs are the 3 i expect
third_pass[third_pass[['DDP:2012:percent.8', 'DDP:2009:percent.5', 'DDP:2010:percent.6', 
            'DDP:2013:percent.9']].isnull().sum(axis = 1) > 0]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2009:percent.5,DDP:2010:percent.6,DDP:2013:percent.9,DDP:2007:percent.3
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,NaN,NaN,NaN,NaN,6.8
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,NaN,NaN,NaN,NaN,6.9
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,NaN,NaN,NaN,NaN,7

In [30]:
#per second pass, adding Diabetes growth rate TARGET
third_pass['Diabetes_pct_growth_rate'] = (third_pass["DDP:2013:percent.9"] - third_pass["DDP:2010:percent.6"]) / third_pass["DDP:2010:percent.6"]

#new for third pass: adding percent increase 2009-2010
third_pass['DDP:2009-2010:Growth_Rate'] = (third_pass["DDP:2010:percent.6"] - third_pass["DDP:2009:percent.5"]) / third_pass["DDP:2009:percent.5"]

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [31]:
third_pass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3224 entries, 0 to 3223
Data columns (total 10 columns):
State                        3224 non-null object
FIPS Codes                   3224 non-null int64
County                       3224 non-null object
DDP:2012:percent.8           3221 non-null float64
DDP:2009:percent.5           3221 non-null float64
DDP:2010:percent.6           3221 non-null float64
DDP:2013:percent.9           3221 non-null float64
DDP:2007:percent.3           3224 non-null object
Diabetes_pct_growth_rate     3221 non-null float64
DDP:2009-2010:Growth_Rate    3221 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 252.0+ KB

In [32]:
third_pass.columns

Index(['State', 'FIPS Codes', 'County', 'DDP:2012:percent.8',
       'DDP:2009:percent.5', 'DDP:2010:percent.6', 'DDP:2013:percent.9',
       'DDP:2007:percent.3', 'Diabetes_pct_growth_rate',
       'DDP:2009-2010:Growth_Rate'],
      dtype='object')

In [ ]:
#exporting third pass

In [33]:
final = third_pass[['State', 'FIPS Codes', 'County', 'DDP:2012:percent.8',
        'DDP:2010:percent.6', 'DDP:2013:percent.9',
        'DDP:2009-2010:Growth_Rate',
        'Diabetes_pct_growth_rate'
       ]]

In [35]:
final[final.isnull().sum(axis = 1) > 0]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2010:percent.6,DDP:2013:percent.9,DDP:2009-2010:Growth_Rate,Diabetes_pct_growth_rate
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,NaN,NaN,NaN,NaN,NaN
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,NaN,NaN,NaN,NaN,NaN
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,NaN,NaN,NaN,NaN,NaN

In [36]:
final.to_csv('../data/Diabetes_rates_3.csv')

In [15]:

## SECOND PASS--> Adding column for difference
#NOTE! Now making second_pass to get it to be change from 2010 to 2010.

In [84]:
second_pass = Diabetes_data[["State", "FIPS Codes", "County", "DDP:2012:percent.8", "DDP:2010:percent.6", "DDP:2013:percent.9" ]]

In [85]:
second_pass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3224 entries, 0 to 3223
Data columns (total 6 columns):
State                 3224 non-null object
FIPS Codes            3224 non-null int64
County                3224 non-null object
DDP:2012:percent.8    3224 non-null object
DDP:2010:percent.6    3224 non-null object
DDP:2013:percent.9    3224 non-null object
dtypes: int64(1), object(5)
memory usage: 151.2+ KB

In [86]:
second_pass[second_pass["State"].isnull()]

Empty DataFrame
Columns: [State, FIPS Codes, County, DDP:2012:percent.8, DDP:2010:percent.6, DDP:2013:percent.9]
Index: []

In [87]:
second_pass[second_pass["FIPS Codes"].isnull()]

Empty DataFrame
Columns: [State, FIPS Codes, County, DDP:2012:percent.8, DDP:2010:percent.6, DDP:2013:percent.9]
Index: []

In [88]:
second_pass[second_pass["DDP:2010:percent.6"].isnull()]

Empty DataFrame
Columns: [State, FIPS Codes, County, DDP:2012:percent.8, DDP:2010:percent.6, DDP:2013:percent.9]
Index: []

In [89]:
second_pass[second_pass["DDP:2012:percent.8"].isnull()]

Empty DataFrame
Columns: [State, FIPS Codes, County, DDP:2012:percent.8, DDP:2010:percent.6, DDP:2013:percent.9]
Index: []

In [90]:
second_pass[second_pass[second_pass.applymap(np.isreal)]['DDP:2013:percent.9'].isnull()]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2010:percent.6,DDP:2013:percent.9
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,No Data,No Data,No Data
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,No Data,No Data,No Data
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,No Data,No Data,No Data
2919,Virginia,51515,Bedford city,12.4,12.8,No Data

In [91]:
second_pass.loc[2919, 'DDP:2013:percent.9'] = Diabetes_data.iloc[2919]['DDP:2012:percent.8']

/Users/LB/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [92]:
second_pass[second_pass[second_pass.applymap(np.isreal)]['DDP:2013:percent.9'].isnull()]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2010:percent.6,DDP:2013:percent.9
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,No Data,No Data,No Data
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,No Data,No Data,No Data
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,No Data,No Data,No Data

In [93]:
second_pass.loc[2919]

State                     Virginia
FIPS Codes                   51515
County                Bedford city
DDP:2012:percent.8            12.4
DDP:2010:percent.6            12.8
DDP:2013:percent.9            12.4
Name: 2919, dtype: object

In [94]:
second_pass['DDP:2010:percent.6'] = pd.to_numeric(second_pass['DDP:2010:percent.6'], errors = 'coerce')

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
second_pass['DDP:2013:percent.9'] = pd.to_numeric(second_pass['DDP:2013:percent.9'], errors = 'coerce')
second_pass['DDP:2012:percent.8'] = pd.to_numeric(second_pass['DDP:2012:percent.8'], errors = 'coerce')

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [98]:
second_pass[second_pass.isnull().sum(axis = 1) > 0]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2010:percent.6,DDP:2013:percent.9
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,NaN,NaN,NaN
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,NaN,NaN,NaN
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,NaN,NaN,NaN

In [99]:
second_pass['Diabetes_pct_growth_rate'] = (second_pass["DDP:2013:percent.9"] - second_pass["DDP:2010:percent.6"]) / second_pass["DDP:2010:percent.6"]

/Users/LB/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
second_pass[second_pass.isnull().sum(axis = 1) > 0]

,State,FIPS Codes,County,DDP:2012:percent.8,DDP:2010:percent.6,DDP:2013:percent.9,Diabetes_pct_growth_rate
88,Alaska,2201,Prince of Wales-Outer K 2004 to 2008 Census,NaN,NaN,NaN,NaN
91,Alaska,2232,Hoonah-Angoon 2004 to 2008 Census,NaN,NaN,NaN,NaN
96,Alaska,2280,Wrangell-Petersburg 2004 to 2008 Census,NaN,NaN,NaN,NaN

In [101]:
second_pass.to_csv('../data/Diabetes_rates_2.csv')

In [17]:
# Exporting to CSV  (first-pass)

In [39]:
first_pass = Diabetes_data[["State", "FIPS Codes", "County", "DDP:2012:percent.8"]]

first_pass.to_csv('../data/Diabetes_rates_1.csv')

In [40]:
first_pass.head()

     State  FIPS Codes          County DDP:2012:percent.8
0  Alabama        1001  Autauga County                 12
1  Alabama        1003  Baldwin County               10.8
2  Alabama        1005  Barbour County               16.2
3  Alabama        1007     Bibb County               13.2
4  Alabama        1009   Blount County               13.8