In [83]:
import pandas as pd

In [53]:
census = pd.read_csv('../data/Census_2010_rates_1.csv')
unemp = pd.read_csv('../data/Unemployment_rates_1.csv')
diabetes = pd.read_csv('../data/Diabetes_rates_2.csv')   #USING SECOND ONE WITH PCT INCREASE
foodenv = pd.read_csv('../data/Food_Env_Atlas_1.csv')
poverty = pd.read_csv('../data/Poverty_rates_1.csv')

In [54]:
dfs = [census, unemp, diabetes, foodenv, poverty]
dfs_str = ["census", "unemp", "diabetes", "foodenv", "poverty"]

In [55]:
colname = {}
for i in range(len(dfs_str)):
    colname[dfs_str[i]] = [col for col in dfs[i].columns if col.lower().startswith('fip') ][0]

In [56]:
colname

{'census': 'fips',
 'diabetes': 'FIPS Codes',
 'foodenv': 'FIPS',
 'poverty': 'FIPS',
 'unemp': 'FIPS'}

In [57]:
census.shape

(3142, 25)

In [58]:
unemp.shape

(3217, 4)

In [59]:
big_df = pd.merge(census, unemp, left_on = "fips", right_on = 'FIPS', how = 'outer' )
big_df.shape

(3223, 29)

In [61]:
diabetes.shape

(3224, 8)

In [31]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3224 entries, 0 to 3223
Data columns (total 8 columns):
Unnamed: 0                  3224 non-null int64
State                       3224 non-null object
FIPS Codes                  3224 non-null int64
County                      3224 non-null object
DDP:2012:percent.8          3221 non-null float64
DDP:2010:percent.6          3221 non-null float64
DDP:2013:percent.9          3221 non-null float64
Diabetes_pct_growth_rate    3221 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 201.6+ KB

In [62]:
big_df = pd.merge(big_df,diabetes, left_on ='FIPS', right_on = 'FIPS Codes', how = 'outer')
big_df.shape

(3230, 37)

In [63]:
big_df.info()  #diabetes added one state

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3230 entries, 0 to 3229
Data columns (total 37 columns):
Unnamed: 0_x                3142 non-null float64
STNAME                      3142 non-null object
CTYNAME                     3142 non-null object
fips                        3142 non-null float64
AGEGRP                      3142 non-null float64
TOT_POP                     3142 non-null float64
pct_male                    3142 non-null float64
2010:AgeGroup01:0-4         3142 non-null float64
2010:AgeGroup02:5-9         3142 non-null float64
2010:AgeGroup03:10-14       3142 non-null float64
2010:AgeGroup04:15-19       3142 non-null float64
2010:AgeGroup05:20-24       3142 non-null float64
2010:AgeGroup06:25-29       3142 non-null float64
2010:AgeGroup07:30-34       3142 non-null float64
2010:AgeGroup08:35-39       3142 non-null float64
2010:AgeGroup09:40-44       3142 non-null float64
2010:AgeGroup10:45-49       3142 non-null float64
2010:AgeGroup11:50-54       3142 non-null float64
2010:AgeGroup12:55-59       3142 non-null float64
2010:AgeGroup13:60-64       3142 non-null float64
2010:AgeGroup14:65-69       3142 non-null float64
2010:AgeGroup15:70-74       3142 non-null float64
2010:AgeGroup16:75-79       3142 non-null float64
2010:AgeGroup17:80-84       3142 non-null float64
2010:AgeGroup18:85+         3142 non-null float64
Unnamed: 0_y                3217 non-null float64
FIPS                        3217 non-null float64
Name                        3217 non-null object
2010:UnemploymentRate       3214 non-null float64
Unnamed: 0                  3224 non-null float64
State                       3224 non-null object
FIPS Codes                  3224 non-null float64
County                      3224 non-null object
DDP:2012:percent.8          3221 non-null float64
DDP:2010:percent.6          3221 non-null float64
DDP:2013:percent.9          3221 non-null float64
Diabetes_pct_growth_rate    3221 non-null float64
dtypes: float64(32), object(5)
memory usage: 958.9+ KB

In [64]:
foodenv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 6 columns):
Unnamed: 0           3143 non-null int64
FIPS                 3143 non-null int64
State                3143 non-null object
County               3143 non-null object
FFRPTH09             3143 non-null float64
PCT_LACCESS_POP10    3143 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 147.4+ KB

In [65]:
foodenv.shape   #food env added another state

(3143, 6)

In [66]:
big_df = pd.merge(big_df,foodenv, on ='FIPS', how = 'outer')    #there are 7 in food environment not in merge so far
big_df.shape

(3237, 42)

In [67]:
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 5 columns):
Unnamed: 0           3142 non-null int64
FIPS                 3142 non-null int64
State                3142 non-null object
County               3142 non-null object
Poverty Rate 2010    3142 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 122.8+ KB

In [68]:
poverty.shape

(3142, 5)

In [69]:
big_df = pd.merge(big_df,poverty, on ='FIPS', how = 'outer' )  #there are 7 in food environment not in merge so far
big_df.shape

(3237, 46)

In [70]:
big_df.columns

Index(['Unnamed: 0_x', 'STNAME', 'CTYNAME', 'fips', 'AGEGRP', 'TOT_POP',
       'pct_male', '2010:AgeGroup01:0-4', '2010:AgeGroup02:5-9',
       '2010:AgeGroup03:10-14', '2010:AgeGroup04:15-19',
       '2010:AgeGroup05:20-24', '2010:AgeGroup06:25-29',
       '2010:AgeGroup07:30-34', '2010:AgeGroup08:35-39',
       '2010:AgeGroup09:40-44', '2010:AgeGroup10:45-49',
       '2010:AgeGroup11:50-54', '2010:AgeGroup12:55-59',
       '2010:AgeGroup13:60-64', '2010:AgeGroup14:65-69',
       '2010:AgeGroup15:70-74', '2010:AgeGroup16:75-79',
       '2010:AgeGroup17:80-84', '2010:AgeGroup18:85+', 'Unnamed: 0_y', 'FIPS',
       'Name', '2010:UnemploymentRate', 'Unnamed: 0_x', 'State_x',
       'FIPS Codes', 'County_x', 'DDP:2012:percent.8', 'DDP:2010:percent.6',
       'DDP:2013:percent.9', 'Diabetes_pct_growth_rate', 'Unnamed: 0_y',
       'State_y', 'County_y', 'FFRPTH09', 'PCT_LACCESS_POP10', 'Unnamed: 0',
       'State', 'County', 'Poverty Rate 2010'],
      dtype='object')

In [71]:
list(colname.values())

['fips', 'FIPS', 'FIPS Codes', 'FIPS', 'FIPS']

In [72]:
big_df.columns

Index(['Unnamed: 0_x', 'STNAME', 'CTYNAME', 'fips', 'AGEGRP', 'TOT_POP',
       'pct_male', '2010:AgeGroup01:0-4', '2010:AgeGroup02:5-9',
       '2010:AgeGroup03:10-14', '2010:AgeGroup04:15-19',
       '2010:AgeGroup05:20-24', '2010:AgeGroup06:25-29',
       '2010:AgeGroup07:30-34', '2010:AgeGroup08:35-39',
       '2010:AgeGroup09:40-44', '2010:AgeGroup10:45-49',
       '2010:AgeGroup11:50-54', '2010:AgeGroup12:55-59',
       '2010:AgeGroup13:60-64', '2010:AgeGroup14:65-69',
       '2010:AgeGroup15:70-74', '2010:AgeGroup16:75-79',
       '2010:AgeGroup17:80-84', '2010:AgeGroup18:85+', 'Unnamed: 0_y', 'FIPS',
       'Name', '2010:UnemploymentRate', 'Unnamed: 0_x', 'State_x',
       'FIPS Codes', 'County_x', 'DDP:2012:percent.8', 'DDP:2010:percent.6',
       'DDP:2013:percent.9', 'Diabetes_pct_growth_rate', 'Unnamed: 0_y',
       'State_y', 'County_y', 'FFRPTH09', 'PCT_LACCESS_POP10', 'Unnamed: 0',
       'State', 'County', 'Poverty Rate 2010'],
      dtype='object')

In [73]:
big_df[list(colname.values()) + ['State'] + ['County']]

big_df[['STNAME','State', 'State_y', 'State_x',  'CTYNAME', 'County_x', 'County_y',  'County', 'Name', 'fips', 'FIPS', 
'FIPS Codes']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3237 entries, 0 to 3236
Data columns (total 12 columns):
STNAME        3142 non-null object
State         3142 non-null object
State_y       3143 non-null object
State_x       3224 non-null object
CTYNAME       3142 non-null object
County_x      3224 non-null object
County_y      3143 non-null object
County        3142 non-null object
Name          3217 non-null object
fips          3142 non-null float64
FIPS          3224 non-null float64
FIPS Codes    3224 non-null float64
dtypes: float64(3), object(9)
memory usage: 328.8+ KB

In [79]:
big_df_slim = big_df[['State', 'County', 'FIPS',  '2010:UnemploymentRate','DDP:2012:percent.8', 'Diabetes_pct_growth_rate','FFRPTH09', 
        'PCT_LACCESS_POP10', 'Poverty Rate 2010', 'pct_male',
        '2010:AgeGroup01:0-4', '2010:AgeGroup02:5-9',
       '2010:AgeGroup03:10-14', '2010:AgeGroup04:15-19',
       '2010:AgeGroup05:20-24', '2010:AgeGroup06:25-29',
       '2010:AgeGroup07:30-34', '2010:AgeGroup08:35-39',
       '2010:AgeGroup09:40-44', '2010:AgeGroup10:45-49',
       '2010:AgeGroup11:50-54', '2010:AgeGroup12:55-59',
       '2010:AgeGroup13:60-64', '2010:AgeGroup14:65-69',
       '2010:AgeGroup15:70-74', '2010:AgeGroup16:75-79',
       '2010:AgeGroup17:80-84', '2010:AgeGroup18:85+', 'DDP:2010:percent.6']]

In [80]:
big_df_slim = big_df_slim[big_df_slim['FIPS'].isnull() == False]

In [81]:
big_df_slim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3224 entries, 0 to 3236
Data columns (total 29 columns):
State                       3142 non-null object
County                      3142 non-null object
FIPS                        3224 non-null float64
2010:UnemploymentRate       3214 non-null float64
DDP:2012:percent.8          3214 non-null float64
Diabetes_pct_growth_rate    3214 non-null float64
FFRPTH09                    3143 non-null float64
PCT_LACCESS_POP10           3143 non-null float64
Poverty Rate 2010           3142 non-null float64
pct_male                    3136 non-null float64
2010:AgeGroup01:0-4         3136 non-null float64
2010:AgeGroup02:5-9         3136 non-null float64
2010:AgeGroup03:10-14       3136 non-null float64
2010:AgeGroup04:15-19       3136 non-null float64
2010:AgeGroup05:20-24       3136 non-null float64
2010:AgeGroup06:25-29       3136 non-null float64
2010:AgeGroup07:30-34       3136 non-null float64
2010:AgeGroup08:35-39       3136 non-null float64
2010:AgeGroup09:40-44       3136 non-null float64
2010:AgeGroup10:45-49       3136 non-null float64
2010:AgeGroup11:50-54       3136 non-null float64
2010:AgeGroup12:55-59       3136 non-null float64
2010:AgeGroup13:60-64       3136 non-null float64
2010:AgeGroup14:65-69       3136 non-null float64
2010:AgeGroup15:70-74       3136 non-null float64
2010:AgeGroup16:75-79       3136 non-null float64
2010:AgeGroup17:80-84       3136 non-null float64
2010:AgeGroup18:85+         3136 non-null float64
DDP:2010:percent.6          3214 non-null float64
dtypes: float64(27), object(2)
memory usage: 755.6+ KB

In [82]:
big_df_slim.to_csv('../data/Finaldf_2.csv')   #second one, added the 'diabetes rates' info

In [209]:
## OLDER STUFF

In [149]:
big_df.describe()

,Unnamed: 0_x,fips,AGEGRP,TOT_POP,pct_male,2010:AgeGroup01:0-4,2010:AgeGroup02:5-9,2010:AgeGroup03:10-14,2010:AgeGroup04:15-19,2010:AgeGroup05:20-24,...,Unnamed: 0_y,FIPS,2010:UnemploymentRate,Unnamed: 0_x,FIPS Codes,Unnamed: 0_y,FFRPTH09,PCT_LACCESS_POP10,Unnamed: 0,Poverty Rate 2010
count,2969.000000,2969.000000,2969.0,2.969000e+03,2969.000000,2969.000000,2969.000000,2969.000000,2969.000000,2969.000000,...,3217.000000,3224.000000,3214.000000,3224.00000,3224.000000,3143.000000,3143.000000,3143.000000,3142.000000,3142.000000
mean,281960.000000,30665.959919,0.0,9.771847e+04,0.499618,0.062386,0.063776,0.065946,0.069216,0.059495,...,48.494249,31372.754342,9.601805,1611.50000,31372.754342,1571.000000,0.561422,23.559330,1598.749523,16.295283
std,162871.952005,15010.968732,0.0,3.165378e+05,0.021222,0.011491,0.010244,0.009100,0.010986,0.024538,...,42.767668,16310.025278,3.511622,930.83296,16310.025278,907.450274,0.300987,20.250176,921.386733,6.437963
min,0.000000,1001.000000,0.0,8.200000e+01,0.432223,0.023587,0.018705,0.024390,0.021352,0.012552,...,1.000000,1001.000000,2.100000,0.00000,1001.000000,0.000000,0.000000,0.000000,2.000000,0.000000
25%,140980.000000,19003.000000,0.0,1.100800e+04,0.488955,0.055219,0.057466,0.060370,0.063137,0.046909,...,18.000000,19028.500000,7.300000,805.75000,19028.500000,785.500000,0.403243,10.847099,801.250000,11.685496
50%,281960.000000,30027.000000,0.0,2.574000e+04,0.495379,0.061248,0.063348,0.065775,0.068038,0.054535,...,39.000000,30022.000000,9.300000,1611.50000,30022.000000,1571.000000,0.565323,19.685956,1597.500000,15.579181
75%,422940.000000,45083.000000,0.0,6.556500e+04,0.503613,0.068137,0.068992,0.070882,0.073775,0.064486,...,66.000000,46107.500000,11.500000,2417.25000,46107.500000,2356.500000,0.703764,29.581054,2397.750000,19.827935
max,563920.000000,56045.000000,0.0,9.818605e+06,0.721106,0.125988,0.121339,0.121345,0.135608,0.270727,...,254.000000,72153.000000,28.800000,3223.00000,72153.000000,3142.000000,6.088280,100.000001,3193.000000,49.453491

In [163]:
big_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3231 entries, 0 to 3230
Data columns (total 43 columns):
Unnamed: 0_x             2969 non-null float64
STNAME                   2969 non-null object
CTYNAME                  2969 non-null object
fips                     2969 non-null float64
AGEGRP                   2969 non-null float64
TOT_POP                  2969 non-null float64
pct_male                 2969 non-null float64
2010:AgeGroup01:0-4      2969 non-null float64
2010:AgeGroup02:5-9      2969 non-null float64
2010:AgeGroup03:10-14    2969 non-null float64
2010:AgeGroup04:15-19    2969 non-null float64
2010:AgeGroup05:20-24    2969 non-null float64
2010:AgeGroup06:25-29    2969 non-null float64
2010:AgeGroup07:30-34    2969 non-null float64
2010:AgeGroup08:35-39    2969 non-null float64
2010:AgeGroup09:40-44    2969 non-null float64
2010:AgeGroup10:45-49    2969 non-null float64
2010:AgeGroup11:50-54    2969 non-null float64
2010:AgeGroup12:55-59    2969 non-null float64
2010:AgeGroup13:60-64    2969 non-null float64
2010:AgeGroup14:65-69    2969 non-null float64
2010:AgeGroup15:70-74    2969 non-null float64
2010:AgeGroup16:75-79    2969 non-null float64
2010:AgeGroup17:80-84    2969 non-null float64
2010:AgeGroup18:85+      2969 non-null float64
Unnamed: 0_y             3217 non-null float64
FIPS                     3224 non-null float64
Name                     3217 non-null object
2010:UnemploymentRate    3214 non-null float64
Unnamed: 0_x             3224 non-null float64
State_x                  3224 non-null object
FIPS Codes               3224 non-null float64
County_x                 3224 non-null object
DDP:2012:percent.8       3224 non-null object
Unnamed: 0_y             3143 non-null float64
State_y                  3143 non-null object
County_y                 3143 non-null object
FFRPTH09                 3143 non-null float64
PCT_LACCESS_POP10        3143 non-null float64
Unnamed: 0               3142 non-null float64
State                    3142 non-null object
County                   3142 non-null object
Poverty Rate 2010        3142 non-null float64
dtypes: float64(33), object(10)
memory usage: 1.1+ MB